<div
  class="fixed top-0 left-0 w-screen h-screen z-50 bg-black/60 backdrop-blur-sm flex justify-center items-center"
>
  <div class="rounded-xl max-w-[840px] w-full max-h-[90vh] overflow-y-auto">
    <form
      (submit)="onSubmit($event)"
      novalidate
      class="bg-[#e3c9f8] p-6 space-y-6 rounded-lg shadow-lg"
    >
      <div class="flex justify-between">
        <h2 class="text-2xl font-bold text-center w-full">Add A Doctor</h2>
        <button
          type="button"
          class="rounded bg-red-600 p-2 w-8 h-8 text-center text-gray-50 transition-all hover:opacity-80"
          (click)="closeThisModal()"
        >
          X
        </button>
      </div>

      @let drNameF = addDoctorForm.drName();
      @let deptF = addDoctorForm.departmentId();
      @let phoneF = addDoctorForm.phone();

      <div class="grid grid-cols-1 w-full gap-x-5">
        <!-- drName -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Doctor Name *</span>
          </div>
          <input
            type="text"
            [formField]="addDoctorForm.drName"
            [class.border-rose-500]="
              !drNameF.valid() && (drNameF.touched() || isSubmitted())
            "
            placeholder="Type here"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 input-sm outline-none"
          />
          @if ((drNameF.touched() || isSubmitted()) && !drNameF.valid()) {
            @for (e of drNameF.errors(); track e.kind) {
              <div class="label !py-0">
                <span class="label-text-alt text-rose-600 capitalize">{{
                  e.message || e.kind
                }}</span>
              </div>
            }
          }
        </label>

        <!-- drSerial -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Doctor Serial</span>
          </div>
          <input
            type="text"
            [formField]="addDoctorForm.drSerial"
            placeholder="Type here"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 input-sm outline-none"
          />
        </label>

        <!-- degree -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Doctor Degree</span>
          </div>
          <textarea
            [formField]="addDoctorForm.degree"
            placeholder="Type here"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
          ></textarea>
        </label>

        <!-- designation -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize"
              >Doctor Designation</span
            >
          </div>
          <input
            type="text"
            [formField]="addDoctorForm.designation"
            placeholder="Type here"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 input-sm outline-none"
          />
        </label>

        <!-- specialty -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Specialty</span>
          </div>
          <input
            type="text"
            [formField]="addDoctorForm.specialty"
            placeholder="Type here"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 input-sm outline-none"
          />
        </label>

        <!-- departmentId -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Department *</span>
          </div>
          <select
            [formField]="addDoctorForm.departmentId"
            [class.border-rose-500]="
              !deptF.valid() && (deptF.touched() || isSubmitted())
            "
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 select-sm w-full"
          >
            <option value="" disabled>Select Department</option>
            @for (department of store.departments(); track department.id) {
              <option [value]="department?.id">
                {{ department?.departmentName }}
              </option>
            } @empty {
              <option disabled>No Department found</option>
            }
          </select>
          @if ((deptF.touched() || isSubmitted()) && !deptF.valid()) {
            @for (e of deptF.errors(); track e.kind) {
              <div class="label !py-0">
                <span class="label-text-alt text-rose-600 capitalize">{{
                  e.message || e.kind
                }}</span>
              </div>
            }
          }
        </label>

        <!-- phone -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Phone</span>
          </div>
          <input
            type="text"
            [formField]="addDoctorForm.phone"
            [class.border-rose-500]="
              !phoneF.valid() && (phoneF.touched() || isSubmitted())
            "
            placeholder="Type here"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 input-sm outline-none"
          />
          @if ((phoneF.touched() || isSubmitted()) && !phoneF.valid()) {
            @for (e of phoneF.errors(); track e.kind) {
              <div class="label !py-0">
                <span class="label-text-alt text-rose-600 capitalize">{{
                  e.message || e.kind
                }}</span>
              </div>
            }
          }
        </label>

        <!-- fee -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Doctor Fee</span>
          </div>
          <input
            type="number"
            [formField]="addDoctorForm.fee"
            placeholder="Type here"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 input-sm outline-none"
          />
        </label>

        <!-- visitTime -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Visit Time</span>
          </div>
          <input
            type="text"
            [formField]="addDoctorForm.visitTime"
            placeholder="Type here"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 input-sm outline-none"
          />
        </label>

        <!-- room -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Room No</span>
          </div>
          <input
            type="text"
            [formField]="addDoctorForm.room"
            placeholder="Type here"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 input-sm outline-none"
          />
        </label>

        <!-- imageUrl -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Image URL</span>
          </div>
          <input
            type="text"
            [formField]="addDoctorForm.imageUrl"
            placeholder="Type here"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 input-sm outline-none"
          />
        </label>

        <!-- description -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Description</span>
          </div>
          <textarea
            [formField]="addDoctorForm.description"
            placeholder="Type here"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
            cols="30"
            rows="6"
          ></textarea>
        </label>

        <!-- additional -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize"
              >Additional Info.</span
            >
          </div>
          <textarea
            [formField]="addDoctorForm.additional"
            placeholder="Type here"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
            cols="30"
            rows="4"
          ></textarea>
        </label>

        <!-- notice -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Notice</span>
          </div>
          <textarea
            [formField]="addDoctorForm.notice"
            placeholder="Type here"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
            cols="30"
            rows="4"
          ></textarea>
        </label>

        <!-- serialBlock -->
        @if (checkRoles("c90aed50-ad56-431b-afa4-c36e8cac039a")) {
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize">Serial Block</span>
            </div>
            <input
              type="text"
              [formField]="addDoctorForm.serialBlock"
              placeholder="Type here"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 input-sm outline-none"
            />
          </label>
        }

        <!-- Day-wise patient limits -->
        <div class="flex gap-2">
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize"
                >Saturday New Patient Limit</span
              >
            </div>
            <input
              type="number"
              [formField]="addDoctorForm.satNewPatientLimit"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 input-sm outline-none"
            />
          </label>
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize"
                >Saturday Old Patient Limit</span
              >
            </div>
            <input
              type="number"
              [formField]="addDoctorForm.satOldPatientLimit"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 input-sm outline-none"
            />
          </label>
        </div>

        <div class="flex gap-2">
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize"
                >Sunday New Patient Limit</span
              >
            </div>
            <input
              type="number"
              [formField]="addDoctorForm.sunNewPatientLimit"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 input-sm outline-none"
            />
          </label>
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize"
                >Sunday Old Patient Limit</span
              >
            </div>
            <input
              type="number"
              [formField]="addDoctorForm.sunOldPatientLimit"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 input-sm outline-none"
            />
          </label>
        </div>

        <div class="flex gap-2">
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize"
                >Monday New Patient Limit</span
              >
            </div>
            <input
              type="number"
              [formField]="addDoctorForm.monNewPatientLimit"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 input-sm outline-none"
            />
          </label>
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize"
                >Monday Old Patient Limit</span
              >
            </div>
            <input
              type="number"
              [formField]="addDoctorForm.monOldPatientLimit"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 input-sm outline-none"
            />
          </label>
        </div>

        <div class="flex gap-2">
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize"
                >Tuesday New Patient Limit</span
              >
            </div>
            <input
              type="number"
              [formField]="addDoctorForm.tueNewPatientLimit"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 input-sm outline-none"
            />
          </label>
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize"
                >Tuesday Old Patient Limit</span
              >
            </div>
            <input
              type="number"
              [formField]="addDoctorForm.tueOldPatientLimit"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 input-sm outline-none"
            />
          </label>
        </div>

        <div class="flex gap-2">
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize"
                >Wednesday New Patient Limit</span
              >
            </div>
            <input
              type="number"
              [formField]="addDoctorForm.wedNewPatientLimit"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 input-sm outline-none"
            />
          </label>
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize"
                >Wednesday Old Patient Limit</span
              >
            </div>
            <input
              type="number"
              [formField]="addDoctorForm.wedOldPatientLimit"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 input-sm outline-none"
            />
          </label>
        </div>

        <div class="flex gap-2">
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize"
                >Thursday New Patient Limit</span
              >
            </div>
            <input
              type="number"
              [formField]="addDoctorForm.thuNewPatientLimit"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 input-sm outline-none"
            />
          </label>
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize"
                >Thursday Old Patient Limit</span
              >
            </div>
            <input
              type="number"
              [formField]="addDoctorForm.thuOldPatientLimit"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 input-sm outline-none"
            />
          </label>
        </div>

        <div class="flex gap-2">
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize"
                >Friday New Patient Limit</span
              >
            </div>
            <input
              type="number"
              [formField]="addDoctorForm.friNewPatientLimit"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 input-sm outline-none"
            />
          </label>
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize"
                >Friday Old Patient Limit</span
              >
            </div>
            <input
              type="number"
              [formField]="addDoctorForm.friOldPatientLimit"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 input-sm outline-none"
            />
          </label>
        </div>
      </div>

      <div class="!mt-2">
        <button
          type="submit"
          [disabled]="
            isSubmitting() || (isSubmitted() && !addDoctorForm().valid())
          "
          class="rounded bg-blue-600 py-1 text-gray-50 transition-all hover:opacity-80 w-full mt-2 disabled:opacity-60 inline-flex justify-center items-center gap-2"
        >
          @if (isSubmitting()) {
            <span
              class="inline-block h-4 w-4 animate-spin rounded-full border-2 border-white border-t-transparent"
            ></span>
            <span>Submitting...</span>
          } @else {
            <span>Submit Here</span>
          }
        </button>
      </div>
    </form>
  </div>
</div>
