<div
  class="fixed top-0 left-0 w-screen h-screen z-50 bg-black/60 backdrop-blur-sm flex justify-center items-center"
>
  <div class="rounded-xl max-w-[840px] w-full max-h-[90vh] overflow-y-auto">
    <form
      [formGroup]="appointmentForm"
      (submit)="onSubmit()"
      class="bg-[#e3c9f8] p-6 space-y-6 rounded-lg shadow-lg"
    >
      <div class="flex justify-between">
        <h2 class="text-2xl font-bold text-center w-full">
          {{selected ? "UPDATE APPOINTMENT" : "BOOK AN APPOINTMENT"}}
        </h2>
        <h2 class="text-2xl font-bold text-center w-full">
          {{doctor?.name}}
        </h2>

        <button
          class="rounded bg-red-600 p-2 w-8 h-8 text-center text-white transition-all hover:opacity-80"
          (click)="closeAppointmentModal()"
        >
          <app-react-icon [icon]="ImCross"></app-react-icon>
        </button>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 w-full gap-x-5">
        @if(selected){
          <!-- drCode Input -->
        @if(doctorList){
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize">
                Doctor:
              </span>
            </div>
            <select
              class="select select-bordered select-sm w-full"
              formControlName="drCode"
              [class.invalid]="
                appointmentForm.get('drCode')?.invalid && (appointmentForm.get('drCode')?.dirty || appointmentForm.get('drCode')?.touched || isSubmitted)
              "
            (change)="onDoctorChange()"
              required
            >
              <option value="" disabled>Select Doctor</option>
              @for (doctor of doctorList; track doctor?.id) {
                <option
                [value]="doctor?.id"
              >
                {{ doctor?.drName }}
              </option>
              } @empty {
                <li>No Doctor found</li>
              }
            </select>
            @if(appointmentForm.get('drCode')?.hasError('required') && (appointmentForm.get('drCode')?.dirty || appointmentForm.get('drCode')?.touched || isSubmitted)){
              <div class="label !py-0">
                <span class="label-text-alt text-rose-600 capitalize"
                  >Doctor is required</span
                >
              </div>
            }
          </label>
        } @else {
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize">
                Doctor:
              </span>
            </div>
            <select
              class="select select-bordered select-sm w-full"
              formControlName="drCode"
              [class.invalid]="
                appointmentForm.get('drCode')?.invalid && (appointmentForm.get('drCode')?.dirty || appointmentForm.get('drCode')?.touched || isSubmitted)
              "
            (change)="onDoctorChange()"
              required
            >
              <option value="" disabled>Select Doctor</option>
              @switch (doctorQuery.status()) { @case ('pending') {
                <option class="text-center text-5xl">Loading...</option>
                } @case ('error') {
                <option>Error: {{ doctorQuery.error()?.message }}</option>
                } @default { @for (doctor of doctorQuery.data(); track doctor.id) {
                <option
                [value]="doctor?.id"
              >
                {{ doctor?.drName }}
              </option>
              } @empty {
                <li>No Doctor found</li>
                } } }
            </select>
            @if(appointmentForm.get('drCode')?.hasError('required') && (appointmentForm.get('drCode')?.dirty || appointmentForm.get('drCode')?.touched || isSubmitted)){
              <div class="label !py-0">
                <span class="label-text-alt text-rose-600 capitalize"
                  >Doctor is required</span
                >
              </div>
            }
          </label>
        }
        <!-- departmentId Input -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">
              Department:
            </span>
          </div>
          <select
            class="select select-bordered select-sm w-full"
            formControlName="departmentId"
            [class.invalid]="
              appointmentForm.get('departmentId')?.invalid && (appointmentForm.get('departmentId')?.dirty || appointmentForm.get('departmentId')?.touched || isSubmitted)
            "
            (change)="onDepartmentChange()"
            required
          >
            <option value="" disabled>Select Department</option>
            @switch (departmentQuery.status()) { @case ('pending') {
              <option class="text-center text-5xl">Loading...</option>
              } @case ('error') {
              <option>Error: {{ departmentQuery.error()?.message }}</option>
              } @default { @for (department of departmentQuery.data(); track department.id) {
              <option
              [value]="department?.id"
            >
              {{ department?.departmentName }}
            </option>
            } @empty {
              <li>No Department found</li>
              } } }
          </select>
          @if(appointmentForm.get('departmentId')?.hasError('required') && (appointmentForm.get('departmentId')?.dirty || appointmentForm.get('departmentId')?.touched || isSubmitted)){
            <div class="label !py-0">
              <span class="label-text-alt text-rose-600 capitalize"
                >Department is required</span
              >
            </div>
          }
        </label>
        }
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize"> Patient Type: </span>
          </div>
          <div>
            <label class="radio border-none">
              <input type="radio" formControlName="type" value="false" [attr.checked]="appointmentForm.get('type')?.value == 'false' ? true : null"
                     (click)="toggleSelection()" />
              Thursday
            </label>
          </div>
        </label>
        
        <!-- <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">
              Patient Type:
            </span>
          </div>
          <select
            class="select select-bordered select-sm w-full"
            formControlName="type"
          >
            <option value="" disabled>Select type</option>
            <option value=true>New</option>
            <option value=false>Thursday</option>
          </select>
        </label> -->

        <!-- pName Input -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Patient name</span>
          </div>
          <input
            type="text"
            formControlName="pName"
            [class.invalid]="
              appointmentForm.get('pName')?.invalid && (appointmentForm.get('pName')?.dirty || appointmentForm.get('pName')?.touched || isSubmitted)
            "
            placeholder="Type here"
            class="input input-bordered w-full input-sm outline-none"
            required
          />
          @if(appointmentForm.get('pName')?.hasError('required') && (appointmentForm.get('pName')?.dirty || appointmentForm.get('pName')?.touched || isSubmitted)){
            <div class="label !py-0">
              <span class="label-text-alt text-rose-600 capitalize"
                >Patient name is required</span
              >
            </div>
          }
        </label>
        <!-- age Input -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Patient Age</span>
          </div>
          <input
            type="text"
            formControlName="age"
            [class.invalid]="
              appointmentForm.get('age')?.invalid && (appointmentForm.get('age')?.dirty || appointmentForm.get('age')?.touched || isSubmitted)
            "
            placeholder="Type here"
            class="input input-bordered w-full input-sm"
            required
          />
          <!-- @if(appointmentForm.get('age')?.hasError('required') && (appointmentForm.get('age')?.dirty || appointmentForm.get('age')?.touched || isSubmitted)){
            <div class="label !py-0">
              <span class="label-text-alt text-rose-600 capitalize"
                >Patient Age is required</span
              >
            </div>
          } -->
        </label>
        <!-- sex Input -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">
              Patient Sex:
            </span>
          </div>
          <select
            class="select select-bordered select-sm w-full"
            formControlName="sex"
            [class.invalid]="
              appointmentForm.get('sex')?.invalid && (appointmentForm.get('sex')?.dirty || appointmentForm.get('sex')?.touched || isSubmitted)
            "
            required
          >
            <option value="" disabled>Select sex</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
          <!-- @if(appointmentForm.get('sex')?.hasError('required') && (appointmentForm.get('sex')?.dirty || appointmentForm.get('sex')?.touched || isSubmitted)){
            <div class="label !py-0">
              <span class="label-text-alt text-rose-600 capitalize"
                >Patient sex is required</span
              >
            </div>
          } -->
        </label>
        
      <!-- mobile Input -->
      <label class="form-control w-full !mt-0">
        <div class="label !py-0">
          <span class="label-text font-bold capitalize">Patient Mobile</span>
        </div>
        <input
          type="text"
          formControlName="mobile"
          [class.invalid]="
            appointmentForm.get('mobile')?.invalid &&
            (appointmentForm.get('mobile')?.dirty ||
              appointmentForm.get('mobile')?.touched ||
              isSubmitted)
          "
          placeholder="Type here"
          class="input input-bordered w-full input-sm"
          required
        />
      </label>
        <!-- Date Input -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize"
              >Appointment Date:</span
            >
          </div>
          <select
            class="select select-bordered select-sm w-full"
            formControlName="date"
            [class.invalid]="
              appointmentForm.get('date')?.invalid && (appointmentForm.get('date')?.dirty || appointmentForm.get('date')?.touched || isSubmitted)
            "
            required
          >
            <option value="" disabled>Select Appointment Date</option>
            <option
              *ngFor="let date of dates"
              [value]="date | date : 'yyyy-MM-dd'"
              [disabled]="isPastDate(date)"
            >
              {{ date | date : "d MMMM, yyyy" }}
            </option>
          </select>
          @if(appointmentForm.get('date')?.hasError('required') && (appointmentForm.get('date')?.dirty || appointmentForm.get('date')?.touched || isSubmitted)){
            <div class="label !py-0">
              <span class="label-text-alt text-rose-600 capitalize"
                >Appointment Date is required</span
              >
            </div>
          }
        </label>
      </div>
      <!-- sL Input -->
    @if (checkRoles("a0336f52-ac10-4705-8c26-633c6b64a8cd") && !selected) {
      <label class="form-control w-full !mt-0">
        <div class="label !py-0">
          <span class="label-text font-bold capitalize">Serial</span>
        </div>
        <input
          type="text"
          formControlName="sL"
          [class.invalid]="
            appointmentForm.get('sL')?.invalid &&
            (appointmentForm.get('sL')?.dirty ||
              appointmentForm.get('sL')?.touched ||
              isSubmitted)
          "
          placeholder="Type here"
          class="input input-bordered w-full input-sm outline-none"
          required
        />
      </label>
      }
      <!-- remarks Input -->
      <label class="form-control w-full !mt-0">
        <div class="label !py-0">
          <span class="label-text font-bold capitalize">Remarks</span>
        </div>
        <textarea
            formControlName="remarks"
            [class.invalid]="
              appointmentForm.get('remarks')?.invalid &&
              (appointmentForm.get('remarks')?.dirty ||
                appointmentForm.get('remarks')?.touched ||
                isSubmitted)
            "
            placeholder="Type here"
            class="input input-bordered w-full h-16"
            required
          ></textarea>
      </label>

      <div class="!mt-2">
        <button
          type="submit"
          class="rounded bg-primary py-1 text-white transition-all hover:opacity-80 w-full"
        >
          Submit Here
        </button>
      </div>
    </form>
  </div>
</div>

@if(msg){
  <confirm-modal [title]="msg" (closeModal)="closeModal()" />
}
@if(err){
  <confirm-modal [title]="err" (closeModal)="closeModal()" />
}
