<div
  class="fixed top-0 left-0 w-screen h-screen z-50 bg-black/60 backdrop-blur-sm flex justify-center items-center"
>
  <div class="rounded-xl max-w-[840px] w-full max-h-[90vh] overflow-y-auto">
    <form
      [formGroup]="editDepartmentForm"
      (submit)="onSubmit()"
      class="bg-[#e3c9f8] p-6 space-y-6 rounded-lg shadow-lg"
    >
      <div class="flex justify-between">
        <h2 class="text-2xl font-bold text-center w-full">Edit Department</h2>

        <button
          class="rounded bg-red-600 p-2 w-8 h-8 text-center text-gray-50 transition-all hover:opacity-80"
          (click)="closeThisModal()"
          type="button"
        >
          X
        </button>
      </div>

      <div class="grid grid-cols-1 w-full gap-x-5">
        <!-- departmentName Input -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Department Name</span>
          </div>
          <input
            type="text"
            formControlName="departmentName"
            [class.invalid]="
              editDepartmentForm.get('departmentName')?.invalid &&
              (editDepartmentForm.get('departmentName')?.dirty ||
                editDepartmentForm.get('departmentName')?.touched ||
                isSubmitted())
            "
            placeholder="Type here"
            class="input input-bordered w-full input-sm outline-none"
            required
          />
          @if(editDepartmentForm.get('departmentName')?.hasError('required') &&
          (editDepartmentForm.get('departmentName')?.dirty ||
          editDepartmentForm.get('departmentName')?.touched || isSubmitted())){
          <div class="label !py-0">
            <span class="label-text-alt text-rose-600 capitalize"
              >Department name is required</span
            >
          </div>
          }
        </label>

        <!-- Image Input -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Image URL</span>
          </div>
          <input
            type="text"
            formControlName="imgUrl"
            [class.invalid]="
              editDepartmentForm.get('imgUrl')?.invalid &&
              (editDepartmentForm.get('imgUrl')?.dirty ||
                editDepartmentForm.get('imgUrl')?.touched ||
                isSubmitted())
            "
            placeholder="Paste image URL here"
            class="input input-bordered w-full input-sm outline-none"
          />
        </label>

        <!-- description Input -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Description</span>
          </div>
          <textarea
            formControlName="description"
            [class.invalid]="
              editDepartmentForm.get('description')?.invalid &&
              (editDepartmentForm.get('description')?.dirty ||
                editDepartmentForm.get('description')?.touched ||
                isSubmitted())
            "
            placeholder="Type description here"
            class="input input-bordered w-full h-32"
            cols="30"
            rows="10"
          ></textarea>
        </label>
      </div>

      <div class="!mt-2">
        <button
          type="submit"
          class="rounded bg-primary py-1 text-gray-50 transition-all hover:opacity-80 w-full"
        >
          Update Department
        </button>
      </div>
    </form>
  </div>
</div>
