<section
  class="relative px-4 py-16 sm:px-8 lg:px-16 xl:px-40 2xl:px-64 lg:py-32 bg-base-200"
>
  <div class="flex flex-col lg:flex-row lg:-mx-8">
    <div class="w-full lg:w-1/2 lg:px-8">
      <h2 class="text-3xl leading-tight font-bold mt-4">
        <!-- Welcome to SD Hospital: Your Trusted Partner in Health and Wellness -->
        এসডি হাসপাতালে স্বাগতম: স্বাস্থ্য এবং সুস্থতায় আপনার বিশ্বস্ত অংশীদার
      </h2>
      <p class="text-lg mt-4 font-semibold">
        <!-- Compassionate Care, Exceptional Results -->
        সহানুভূতিশীল যত্ন, ব্যতিক্রমী ফলাফল
      </p>
      <p class="mt-2 leading-relaxed text-justify">
        <!-- At SD Hospital, we believe in providing compassionate care that goes
        beyond just treating symptoms. Our dedicated team of healthcare
        professionals is committed to delivering exceptional results by
        addressing the root cause of your health concerns and guiding you
        towards a path of wellness. -->
        এস.ডি. হাসপাতাল একটি সম্মানিত চিকিৎসা প্রতিষ্ঠান, যেখানে সামাজিক দায়িত্ব, উন্নত প্রযুক্তি, মানবিক সংবেদনশীলতা, এবং পরিবেশের সংরক্ষণ সহ বিভিন্ন দিকে গুণগত উন্নতির লক্ষ্যে কাজ করা হয়। আমরা রোগীদের সাথে একটি সম্পূর্ণ যাত্রা অভিজ্ঞতা বিকাশ করার চেষ্টা করি, যাতে তারা না শুধু চিকিৎসা পান, বরং স্বাস্থ্য ও সুখের দিকে পূর্ণতা অনুভব করে।
      </p>
      <p class="mt-2 leading-relaxed text-justify">
        আমাদের সেবা প্রদানের লক্ষ্য হলো রোগীদের মানদণ্ডমানে চিকিৎসা প্রদান করা, যাতে তারা স্বাস্থ্যবান ও সন্তুষ্ট জীবনযাপন করতে পারেন। আমরা নিজেদের সেবা প্রদানের মাধ্যমে সামাজিক দায়িত্ব পরিপালন করি এবং পরিবেশের সংরক্ষণের দিকে সচেতনতা বৃদ্ধি করি।
      </p>
      <p class="mt-2 leading-relaxed text-justify">
        এস.ডি. হাসপাতালে আমরা প্রযুক্তিগত উন্নতির জন্য মনোনিবেশ করে এবং সর্বদা নতুন ও উন্নত প্রযুক্তিতে আধুনিক চিকিৎসার সেবা প্রদানের লক্ষ্যে প্রতিষ্ঠিত হয়েছে। আমরা চিকিৎসার পদ্ধতি, ডাটা ম্যানেজমেন্ট, এবং অনলাইন সেবা প্রদানের মাধ্যমে রোগীদের জন্য সর্বোত্তম অভিজ্ঞতা নিশ্চিত করতে প্রস্তুত। আমরা সহজেই উপলব্ধ এবং ব্যক্তিগত সেবা প্রদানে গর্বিত। আমাদের প্রশিক্ষিত ডাক্তার এবং স্টাফ প্রতিটি রোগীর প্রতি সহযোগিতা এবং সাহায্যে মুখ্যতঃ নিজের পরিষেবা অভিজ্ঞতা ব্যক্ত করে।
      </p>
      <p class="mt-2 leading-relaxed text-justify">
        এস.ডি. হাসপাতাল একটি সম্মানিত স্বাস্থ্যসেবা প্রদানকারী প্রতিষ্ঠান যা সমাজের বিভিন্ন উপাত্ত পরিচালনা করে। আমরা সর্বোত্তম স্বাস্থ্যসেবা ও সম্মানিত চিকিৎসা প্রদানের লক্ষ্যে প্রতিষ্ঠিত হয়েছি এবং আমরা গর্বের সাথে বলতে পারি যে আমরা রোগীদের জন্য সর্বোত্তম যত্ন নিয়ে থাকি।
      </p>
      <p class="mt-2 leading-relaxed text-justify">
        এস.ডি. হাসপাতাল একটি সামাজিক প্রবৃদ্ধির অংশ হিসাবে কাজ করে, সামাজিক অপারেশনে অংশগ্রহণ করে এবং সমাজের উন্নতির জন্য প্রতিশ্রুতিবদ্ধ রয়েছে। আমরা স্থানীয় সমাজের সাথে যোগাযোগ এবং উন্নতির জন্য প্রতিশ্রুতিবদ্ধ এবং প্রত্যাশা করি।
      </p>
      <p class="mt-2 leading-relaxed text-justify">
        এস.ডি. হাসপাতাল পরিবেশের সংরক্ষণের জন্য প্রতিবদ্ধ। আমরা পরিবেশ সংরক্ষণের প্রতিটি দিকে সচেতন এবং সম্প্রদায়ের সাথে সহযোগিতা করি। আমাদের লক্ষ্য হলো সামগ্রিক পরিবেশের সুরক্ষা ও পরিবেশের মেয়াদকাল সংযতন সহ সমাজের সাথে একত্রিত করা।
      </p>
      <p class="mt-2 leading-relaxed text-justify">
        এস.ডি. হাসপাতাল সম্প্রদায়ের সাথে সম্পৃক্ত। আমরা স্থানীয় সমাজের সাথে যোগাযোগ করে তাদের স্বাস্থ্য ও সুখের উন্নতির জন্য প্রতিশ্রুতিবদ্ধ এবং প্রত্যাশা করি। আমরা সমাজের প্রতি আমাদের দায়িত্ব স্বীকার করে এবং তাদের প্রয়োজনীয় সাহায্য ও সহানুভূতি প্রদানে প্রস্তুত।
      </p>
      <p class="mt-2 leading-relaxed text-justify">
        এস.ডি. হাসপাতালের পরিচালক দল প্রতিষ্ঠানের উন্নতি ও সেবা প্রদানের দিকে সততা অব্যাহত করে চলে আসছেন। তারা সর্বদা রোগীদের সুখের জন্য নতুন এবং উন্নত পদ্ধতিতে চিকিৎসা প্রদানের উদ্দেশ্যে পরিশ্রম করে থাকেন।
      </p>
    </div>

    <div class="w-full lg:w-1/2 lg:px-8 mt-12 lg:mt-0">
      <div class="md:flex">
        <div>
          <div class="w-16 h-16 bg-blue-600 rounded-full"></div>
        </div>
        <div class="md:ml-8 mt-4 md:mt-0">
          <h4 class="text-xl font-bold leading-tight">
            <!-- Innovation and Expertise -->
            আমরা কেন বিশ্বাসী?
          </h4>
          <p class="mt-2 leading-relaxed text-justify">
            <!-- With a focus on innovation and expertise, SD Hospital is at the
            forefront of medical advancements. Our state-of-the-art facilities
            and cutting-edge technology enable us to offer a comprehensive range
            of services, from preventive care to complex treatments, all under
            one roof. -->
            এস.ডি. হাসপাতালে বিশ্বাস রাখুন কারণ আমরা সহজেই উপলব্ধ এবং ব্যক্তিগত সেবা প্রদানে গর্বিত। আমাদের প্রশিক্ষিত ডাক্তার এবং স্টাফ প্রতিটি রোগীর প্রতি সহযোগিতা এবং সাহায্যে মুখ্যতঃ নিজের পরিষেবা অভিজ্ঞতা ব্যক্ত করে।
          </p>
        </div>
      </div>

      <div class="md:flex mt-8">
        <div>
          <div class="w-16 h-16 bg-blue-600 rounded-full"></div>
        </div>
        <div class="md:ml-8 mt-4 md:mt-0">
          <h4 class="text-xl font-bold leading-tight">
            <!-- A Tradition of Trust -->
            আমাদের সেবাগুলির বৈশিষ্ট্য
          </h4>
          <p class="mt-2 leading-relaxed text-justify">
            <!-- For years, SD Hospital has been a trusted name in healthcare,
            serving our community with integrity and compassion. Our unwavering
            commitment to excellence and patient satisfaction has earned us the
            trust of countless individuals and families, making us their
            preferred choice for all their healthcare needs. -->
            এস.ডি. হাসপাতালের সেবা গুলির বৈশিষ্ট্য সম্পূর্ণ মানদণ্ডমানে গুণগত এবং প্রযুক্তিগত উন্নতির অন্তর্ভুক্ত। আমরা নির্দিষ্টভাবে ডিজাইন করা সুবিধা এবং সেবা উন্নতির প্রযুক্তির মাধ্যমে রোগীদের প্রতিটি প্রয়োজন পূরণ করতে প্রস্তুত।
          </p>
        </div>
      </div>

      <div class="md:flex mt-8">
        <div>
          <div class="w-16 h-16 bg-blue-600 rounded-full"></div>
        </div>
        <div class="md:ml-8 mt-4 md:mt-0">
          <h4 class="text-xl font-bold leading-tight">
            সামাজিক দায়িত্ব
          </h4>
          <p class="mt-2 leading-relaxed text-justify">
            এস.ডি. হাসপাতাল সামাজিক দায়িত্বের সাথে সম্পৃক্ত একটি প্রতিষ্ঠান হিসাবে কাজ করে। আমরা স্থানীয় সমাজের সাথে যোগাযোগ এবং উন্নতির জন্য প্রতিশ্রুতিবদ্ধ এবং প্রত্যাশা করি। আমরা সামাজিক অপারেশনে অংশগ্রহণ করে এবং সমাজের উন্নতির কাজে মোটামুটি অবদান রাখি।
          </p>
        </div>
      </div>

      <div class="md:flex mt-8">
        <div>
          <div class="w-16 h-16 bg-blue-600 rounded-full"></div>
        </div>
        <div class="md:ml-8 mt-4 md:mt-0">
          <h4 class="text-xl font-bold leading-tight">
            প্রযুক্তিগত উন্নতি
          </h4>
          <p class="mt-2 leading-relaxed text-justify">
            এস.ডি. হাসপাতাল প্রযুক্তিগত উন্নতির দিকে মনোনিবেশ করে এবং নতুন ও উন্নত প্রযুক্তিতে আধুনিক চিকিৎসার সেবা প্রদানের লক্ষ্যে প্রতিষ্ঠিত হয়েছে। আমরা চিকিৎসার পদ্ধতি, ডাটা ম্যানেজমেন্ট এবং অনলাইন সেবা প্রদানের মাধ্যমে রোগীদের জন্য সর্বোত্তম অভিজ্ঞতা নিশ্চিত করতে প্রস্তুত।
          </p>
        </div>
      </div>

      <div class="md:flex mt-8">
        <div>
          <div class="w-16 h-16 bg-blue-600 rounded-full"></div>
        </div>
        <div class="md:ml-8 mt-4 md:mt-0">
          <h4 class="text-xl font-bold leading-tight">
            রোগীর মানবিক সংবেদনশীলতা
          </h4>
          <p class="mt-2 leading-relaxed text-justify">
            এস.ডি. হাসপাতাল রোগীর মানবিক সংবেদনশীলতা প্রথমে রাখে। আমাদের কর্মীদের মধ্যে সক্রিয় আলাপগুলির মাধ্যমে রোগীর সঙ্গে সম্পর্ক গড়া হয় এবং তাদের সাথে মানবিকভাবে সম্পর্ক তৈরি করা হয়। আমরা রোগীদের মনঃস্থিরতা এবং মানসিক সুস্থতার জন্য আনন্দদায়ক পরিবেশ সৃষ্টি করি।
          </p>
        </div>
      </div>

      <div class="md:flex mt-8">
        <div>
          <div class="w-16 h-16 bg-blue-600 rounded-full"></div>
        </div>
        <div class="md:ml-8 mt-4 md:mt-0">
          <h4 class="text-xl font-bold leading-tight">
            পরিবেশের সংরক্ষণ ও সামাজিক উন্নতি
          </h4>
          <p class="mt-2 leading-relaxed text-justify">
            এস.ডি. হাসপাতাল পরিবেশের সংরক্ষণ ও সামাজিক উন্নতির জন্য প্রতিশ্রুতিবদ্ধ এবং সম্পর্কশীল একটি প্রতিষ্ঠান হিসাবে পরিচিত। আমরা পরিবেশের সমস্যাগুলির সাথে মিলে কাজ করে সামাজিক উন্নতিতে অংশগ্রহণ করি এবং স্থানীয় সমাজের উন্নতির জন্য প্রতিশ্রুতিবদ্ধ আছি। আমরা পরিবেশ সংরক্ষণের প্রতিটি দিক নিয়ে সচেতন এবং সম্প্রদায়ের সম্প্রতি সহযোগিতা করি।
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="md:flex md:flex-wrap mt-24 text-center md:-mx-4">
    <div class="md:w-1/2 md:px-4 lg:w-1/4">
      <div class="bg-white rounded-lg border border-gray-300 p-8 h-full">
        <img
          src="https://cdni.iconscout.com/illustration/premium/thumb/doctor-checking-patient-in-a-hospital-7131179-5783689.png?f=webp"
          alt=""
          class="h-20 mx-auto"
        />

        <h4 class="text-xl font-bold mt-4">
          <!-- EXPLETIVE THERAPIES -->
          প্রাথমিক চিকিৎসা
        </h4>
        <p class="mt-1 text-justify">
          <!-- At our hospital, we are committed to exceeding your expectations and
          providing you with the highest standard of care. Experience the
          difference of world-class facilities, expert doctors, and
          complementary therapies - all in one place. we're here for you every
          step of the way. -->
          আমাদের প্রাথমিক চিকিৎসা সেবা মানে সাধারণ চিকিৎসা সেবা যেমন রোগীদের নির্দিষ্ট রোগের চিকিৎসা, প্রদত্ত নিউরোলজি বিশেষজ্ঞের পরামর্শ, ব্যবহারিক ঔষধ নির্ধারণ এবং সাধারণ চিকিৎসা সেবা সম্পর্কে বিস্তারিত পরামর্শ।
        </p>
      </div>
    </div>

    <div class="md:w-1/2 md:px-4 mt-4 md:mt-0 lg:w-1/4">
      <div class="bg-white rounded-lg border border-gray-300 p-8 h-full">
        <img
          src="https://cdni.iconscout.com/illustration/premium/thumb/doctor-shows-the-results-of-the-ct-scan-to-the-patient-7131165-5783675.png?f=webp"
          alt=""
          class="h-20 mx-auto"
        />

        <h4 class="text-xl font-bold mt-4">
          <!-- WORLD CLASS FACILITIES -->
          অতিরিক্ত চিকিৎসা সেবা
        </h4>
        <p class="mt-1 text-justify">
          <!-- Our world-class facilities are equipped with the latest technology and
          amenities to provide you with the highest quality of care. From
          cutting-edge diagnostic tools to comfortable patient rooms, we strive
          to create an environment that promotes healing and comfort. -->
          আমাদের অতিরিক্ত চিকিৎসা সেবা প্রশাসনিক অবস্থানের অনুমোদিত ডাক্তার এবং বিশেষজ্ঞ সাথে সাবধানে নির্বাচিত প্রযুক্তিগত পদ্ধতির চিকিৎসা প্রদানের মাধ্যমে রোগীদের স্বাস্থ্য সুরক্ষা ও সুখের নিরাপত্তা বজায় রাখা।
        </p>
      </div>
    </div>

    <div class="md:w-1/2 md:px-4 mt-4 md:mt-8 lg:mt-0 lg:w-1/4">
      <div class="bg-white rounded-lg border border-gray-300 p-8 h-full">
        <img
          src="https://cdni.iconscout.com/illustration/premium/thumb/a-woman-finding-nearby-hospital-7131164-5783674.png?f=webp"
          alt=""
          class="h-20 mx-auto"
        />

        <h4 class="text-xl font-bold mt-4">
          <!-- SAME DAY APPOINTMENTS -->
          জরুরি চিকিৎসা সেবা
        </h4>
        <p class="mt-1 text-justify">
          <!-- At our facility, we understand the importance of convenience and
          efficiency when it comes to healthcare, which is why we offer same-day
          appointments to ensure you receive the care you need when you need it
          most. Your health is our priority, and we're here for you. -->
          আমাদের জরুরি চিকিৎসা সেবা অত্যাবশ্যক অবস্থায় সাথে প্রদানের জন্য সর্বোত্তম সুযোগ এবং প্রয়োজনীয় সহায়তা নিশ্চিত করে। রোগীদের উচ্চ সাধারণ চিকিৎসা প্রদানের জন্য সর্বোত্তম চিকিৎসা পদ্ধতি এবং সরবরাহ করা হয়।
        </p>
      </div>
    </div>

    <div class="md:w-1/2 md:px-4 mt-4 md:mt-8 lg:mt-0 lg:w-1/4">
      <div class="bg-white rounded-lg border border-gray-300 p-8 h-full">
        <img
          src="https://cdni.iconscout.com/illustration/premium/thumb/male-doctor-discussing-with-a-female-intern-7131170-5783680.png?f=webp"
          alt=""
          class="h-20 mx-auto"
        />

        <h4 class="text-xl font-bold mt-4">
          <!-- EXPERT DOCTORS -->
          মেডিকেল পরামর্শ
        </h4>
        <p class="mt-1 text-justify">
          <!-- When you visit our hospital, you can rest assured knowing that you'll
          be in the hands of expert doctors and medical professionals. Our team
          is comprised of highly trained specialists who are dedicated to
          providing personalized treatment plans tailored to your unique needs. -->
          আমাদের মেডিকেল পরামর্শ সেবা প্রদানের মাধ্যমে রোগীদের সাথে সম্পৃক্ততা বিস্তারিত করা হয়। মেডিকেল প্রশিক্ষণপ্রাপ্ত পেশাদার ডাক্তারের সাথে সংযোগ করে সাধারণ চিকিৎসা, পুনরুদ্ধার পরামর্শ, রোগ প্রতিরোধ পরামর্শ এবং পুনরুদ্ধারের পরামর্শ সহায়তা প্রদান করা হয়।
        </p>
      </div>
    </div>
  </div>
</section>
