<div class="bg-[#2D3B38]">
  <footer
    class="footer grid-cols-2 lg:grid-cols-4 p-10 text-neutral-content container mx-auto"
  >
    <div>
      <span class="footer-title">Company</span>
      <a class="link link-hover">About Us</a>
      <a class="link link-hover">Career</a>
      <a class="link link-hover">Editorial Team</a>
      <a class="link link-hover">Protection</a>
    </div>
    <div>
      <span class="footer-title">More</span>
      <a class="link link-hover">Terms & Condition</a>
      <a class="link link-hover">Privacy</a>
      <a class="link link-hover">Advertise</a>
      <a class="link link-hover">Join as Doctors</a>
    </div>
    <div>
      <span class="footer-title">Our partner</span>
      <a class="link link-hover">One-Fitness</a>
      <a class="link link-hover">One-Drugs</a>
      <a class="link link-hover">One-Live</a>
    </div>
    <div>
      <span class="footer-title">Contact</span>
      <a class="link link-hover">General Hospital Road, Dinajpur</a>
      <a class="link link-hover">01318346607</a>
      <a class="link link-hover">thedoctor-serial&#64;gmail.com</a>
      <h2 class="text-xl">Social Media</h2>
      <div>
        <ul class="flex">
          <li
            class="bg-[#101716] w-10 h-10 rounded-full flex justify-center items-center hover:bg-primary hover:text-black mx-1"
          >
            <a class="link link-hover">
              <fa-icon [icon]="faFacebook"></fa-icon>
            </a>
          </li>
          <li
            class="bg-[#101716] w-10 h-10 rounded-full flex justify-center items-center hover:bg-primary hover:text-black mx-1"
          >
            <a class="link link-hover">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
          </li>
          <li
            class="bg-[#101716] w-10 h-10 rounded-full flex justify-center items-center hover:bg-primary hover:text-black mx-1"
          >
            <a class="link link-hover">
              <fa-icon [icon]="faTwitter"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <footer
    class="footer container mx-auto py-4 border-t border-slate-500 text-base-content"
  >
    <div class="text-white">
      <p>
        Copyright &copy; 2024
        <span class="text-primary-400"> Kalaroa Health Care</span>. All right
        reserved
      </p>
    </div>
  </footer>
</div>
