<section>
  <app-cover title="all career list" sub1="MIS" sub2="Career"></app-cover>

  @if (loading) {
  <div
    class="block text-gray-50 mt-10 mb-4 mx-auto h-12 w-12 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
    role="status"
  >
    <span
      class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
      >Loading...</span
    >
  </div>

  <div class="text-center">Loading...</div>
  } @else {
  <div class="container mx-auto flex justify-end">
    <a
      routerLink="add"
      class="bg-green-500 hover:bg-green-400 text-gray-50 font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-500 rounded uppercase"
    >
      add career
    </a>
  </div>

  <div class="mt-4 mx-4">
    @if (careers$) {
    <div class="w-full overflow-hidden rounded-lg shadow-xs">
      <div class="w-full overflow-x-auto">
        <table class="w-full">
          <thead>
            <tr
              class="text-xs font-semibold tracking-wide text-left text-gray-900 uppercase border-b bg-gray-50"
            >
              <th class="px-4 py-3">Image</th>
              <th class="px-4 py-3">Title</th>
              <th class="px-4 py-3">Description</th>
              <th class="px-4 py-3">Actions</th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y">
            @for (career of careers$ | async; track $index) {
            <tr class="bg-gray-50 hover:bg-gray-100 text-gray-900">
              <td class="px-4 py-3">
                <img
                  [src]="career?.imageUrl !== '' ? career.imageUrl : emptyImg"
                  alt="career Image"
                  class="w-8 md:w-16 rounded"
                />
              </td>
              <td class="px-4 py-3 text-xs">{{ career.title }}</td>
              <td class="px-4 py-3 text-sm">
                {{ career?.description?.slice(0, 100) }}...
              </td>
              <td class="px-4 py-3 text-sm">
                <a
                  [routerLink]="['edit', career.id]"
                  class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded mr-2 inline-block my-2"
                >
                  Edit
                </a>
                <button
                  (click)="onDelete(career.id)"
                  class="px-2 py-1 font-semibold leading-tight text-red-700 bg-green-100 rounded inline-block"
                >
                  Delete
                </button>
              </td>
            </tr>
            } @empty {
            <tr class="bg-gray-50 hover:bg-gray-100 text-gray-900">
              <td class="px-4 py-3"></td>
              <td class="px-4 py-3">
                <h1 class="text-center text-2xl text-rose-600">
                  No Career Found!
                </h1>
              </td>
              <td class="px-4 py-3"></td>
              <td class="px-4 py-3"></td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      <div
        class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-900 uppercase border-t bg-gray-50 sm:grid-cols-9"
      ></div>
    </div>
    }
  </div>
  }
</section>

@if (isConfirmOpen) {
<app-delete-confirmation-modal
  (confirmDelete)="confirmDelete()"
  (closeModal)="closeModal()"
></app-delete-confirmation-modal>
}
