@media print {
    .flex-when-printing {
      flex-direction: row !important;
    }
    .hide-when-printing {
      opacity: 0 !important;
    }
    .hidden-when-printing {
      display: none !important;
    }
    .left-when-printing {
      margin: 0 auto !important;
    }
    .margin-left-when-printing {
      margin-left: 3% !important;
    }
    .black-when-printing {
        margin-left: 40px;
        margin-right: 40px;
      margin-top: -120px;
    }
    .position-when-printing {
      bottom: 0 !important;
      right: -20px !important;
    }
  }