<app-cover
  [class.hide-when-printing]="isPrinting"
  title="All Appointment List"
  sub1="Dashboard"
  sub2="Appointment"
></app-cover>

<div
  class="container mx-auto flex justify-end gap-2"
  [class.hide-when-printing]="isPrinting"
>
  <div class="flex gap-2 flex-col md:flex-row">
    <div class="flex gap-2 flex-col md:flex-row">
      <input
        type="date"
        id="fromDate"
        [(ngModel)]="fromDate"
        (change)="onInputChange()"
        class="border-2 border-gray-700 rounded-md px-5 py-2"
      />
      <input
        type="date"
        id="toDate"
        [(ngModel)]="toDate"
        (change)="onInputChange()"
        class="border-2 border-gray-700 rounded-md px-5 py-2"
      />
      <select
        class="select select-bordered w-48"
        id="selectedDoctor"
        [(ngModel)]="selectedDoctor"
        (change)="onInputChange()"
      >
        <option value="">All Doctors</option>
        @for (doctor of doctorsWithAppointments; track $index) {
        <option [value]="doctor.id">{{ doctor.drName }}</option>
        }
      </select>
      <label class="input input-bordered flex items-center gap-2">
        <input
          type="text"
          class="grow"
          placeholder="Search"
          id="searchQuery"
          [(ngModel)]="searchQuery"
          (input)="onInputChange()"
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="w-4 h-4 opacity-70"
        >
          <path
            fill-rule="evenodd"
            d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
            clip-rule="evenodd"
          />
        </svg>
      </label>
    </div>
    <div class="flex gap-2 flex-col md:flex-row">
      <div class="my-4 pl-2 lg:my-0 lg:pl-2 lg:pr-1">
        <button
          (click)="redirectToHome()"
          type="button"
          class="btn bg-blue-600 hover:bg-blue-500 py-3 px-3 rounded-lg text-gray-50 cursor-pointer"
        >
          Back Home
        </button>
      </div>
      <div class="my-4 pl-2 lg:my-0 lg:pl-2 lg:pr-1">
        <button
          (click)="printPage()"
          type="button"
          class="btn bg-rose-600 hover:bg-rose-500 py-3 px-3 rounded-lg text-gray-50 cursor-pointer"
        >
          Print Page
        </button>
      </div>
    </div>
  </div>
</div>

@if (loading) {
<div class="flex items-center justify-center h-[70vh]">
  <div>
    <div
      class="inline-block h-28 w-28 animate-spin rounded-full border-8 border-solid border-current border-e-transparent align-[-0.125em] text-surface motion-reduce:animate-[spin_1.5s_linear_infinite]"
      role="status"
    >
      <span
        class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
        >Loading...</span
      >
    </div>
    <p class="text-2xl text-gray-900 text-center ml-2 mt-2">Loading...</p>
  </div>
</div>
} @else if (totalAppointment == 0) {
<div class="flex items-center justify-center h-[70vh]">
  <div>
    <h1 class="text-xl text-gray-900 text-center">No appointment found</h1>
  </div>
</div>
} @else {
<div class="mx-4" [class.black-when-printing]="isPrinting">
  <div class="w-full overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
      @if (fromDate && !toDate) {
      <h1 class="text-xl font-bold">Date: {{ transform(fromDate) }}</h1>
      } @if (!fromDate && toDate) {
      <h1 class="text-xl font-bold">Date: {{ transform(toDate) }}</h1>
      } @if (fromDate && toDate) {
      <h1 class="text-xl font-bold">
        Date:
        <span class="text-xl font-bold"
          >From: {{ transform(fromDate) }} To: {{ transform(toDate) }}</span
        >
      </h1>
      } @if (selectedDoctor) {
      <h1 class="text-xl font-bold">
        Doctor:
        {{ getDoctorName(selectedDoctor) }}
      </h1>
      } @if (selectedDepartment) {
      <h1 class="text-xl font-bold">
        Department:
        {{ getDepartmentName(selectedDepartment) }}
      </h1>
      }
      <p class="font-bold" [class.hidden-when-printing]="isPrinting">
        Total : {{ totalAppointment }}
      </p>
      <table class="w-full">
        <thead>
          <tr
            class="text-xs font-semibold tracking-wide text-left text-gray-900 uppercase border-b bg-gray-50"
          >
            <th class="px-4 py-3">Sl</th>
            <th class="px-4 py-3" [class.hidden-when-printing]="isPrinting">
              Doctor Name
            </th>
            <th class="px-4 py-3" [class.hidden-when-printing]="isPrinting">
              Department
            </th>
            <th class="px-4 py-3" [class.hidden-when-printing]="isPrinting">
              Date
            </th>
            <th class="px-4 py-3">Patient Name</th>
            <th class="px-4 py-3">Age</th>
            <th class="px-4 py-3">Sex</th>
            <th class="px-4 py-3">Mobile</th>
            <th class="px-4 py-3" [class.hidden-when-printing]="isPrinting">
              Username
            </th>
            <th class="px-4 py-3">Remarks</th>
            @if (checkRoles("2ecc8fdd-114f-444c-8e0e-5c5706675717") ||
            checkRoles("6224224f-d3d5-429f-96d2-516df6e69374")) {
            <th
              class="px-4 py-3 w-32"
              [class.hidden-when-printing]="isPrinting"
            >
              Actions
            </th>
            }
          </tr>
        </thead>
        <tbody class="bg-white divide-y">
          @for (appointment of filteredAppointments; track appointment.id) {
          <tr class="bg-gray-50 hover:bg-gray-100 text-gray-900">
            <td class="px-4 py-3 text-sm">{{ appointment.sl }}</td>
            <td
              class="px-4 py-3 text-sm max-w-[150px]"
              [class.hidden-when-printing]="isPrinting"
            >
              {{ getDoctorName(appointment.drCode) }}
            </td>
            <td
              class="px-4 py-3 text-sm max-w-[100px]"
              [class.hidden-when-printing]="isPrinting"
            >
              {{ getDepartmentName(appointment.departmentId) }}
            </td>
            <td
              class="px-4 py-3 text-sm"
              [class.hidden-when-printing]="isPrinting"
            >
              {{ transform(appointment.date) }}
            </td>
            <td class="px-4 py-3 text-sm">{{ appointment.pName }}</td>
            <td class="px-4 py-3 text-sm">{{ appointment.age }}</td>
            <td class="px-4 py-3 text-sm">{{ appointment.sex }}</td>
            <td class="px-4 py-3 text-sm">{{ appointment.mobile }}</td>
            <td
              class="px-4 py-3 text-sm"
              [class.hidden-when-printing]="isPrinting"
            >
              {{ appointment.username }}
            </td>
            <td class="px-4 py-3 text-sm max-w-[180px]">
              {{ appointment.remarks }}
            </td>
            @if (checkRoles("2ecc8fdd-114f-444c-8e0e-5c5706675717") ||
            checkRoles("6224224f-d3d5-429f-96d2-516df6e69374")) {
            <td
              class="px-4 py-3 text-sm"
              [class.hidden-when-printing]="isPrinting"
            >
              @if (checkRoles("2ecc8fdd-114f-444c-8e0e-5c5706675717")) {
              <button
                (click)="openEditAppointmentModal(appointment.id)"
                class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded mr-2"
              >
                Edit
              </button>
              } @if (checkRoles("6224224f-d3d5-429f-96d2-516df6e69374")) {
              <button
                (click)="onDelete(appointment.id)"
                class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded"
              >
                Delete
              </button>
              }
            </td>
            }
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
} @if (editAppointmentModal) {
<app-appointment-modal-serial
  [id]="selectedId"
  (closeAppointment)="closeEditAppointmentModal()"
></app-appointment-modal-serial>
}
