<section
  class="cover bg-gradient-to-l from-cyan-500 to-blue-500 relative px-4 sm:px-8 lg:px-16 xl:px-40 2xl:px-64 overflow-hidden py-48 flex items-center max-h-96"
>
  <div class="h-full w-full absolute top-0 left-0 z-0">
    <img
      src="https://img.freepik.com/free-photo/gradient-dark-blue-futuristic-digital-background_53876-160646.jpg?t=st=1713524092~exp=1713527692~hmac=5bb425a06bba38ab6c2073c0e5a8b5e98ea2571bcabddb638fec4a93bd33e3d0&w=1380"
      alt=""
      class="w-full h-full object-cover opacity-20"
    />
  </div>

  <div class="w-full relative z-10 h-100 lg:mt-16 text-center text-white">
    <p class="font-cinzel text-sm md:text-xl lg:text-2xl font-semibold">
      <span class="text-[#57f7e7]">Home</span> / News
    </p>
    <h1
      class="text-white text-4xl md:text-5xl xl:text-6xl font-bold leading-tight text-center capitalize"
    >
    Digital Diagnostic Center News
    </h1>
  </div>
</section>

<section>
  <main
    class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900 antialiased"
  >
    <div
      class="flex flex-col md:flex-row justify-between px-4 mx-auto max-w-screen-2xl"
    >
      <div class="px-4 mx-auto max-w-screen-2xl">
        <div class="grid gap-12 sm:grid-cols-1 lg:grid-cols-3">
          @for (data of news; track data.id) {
          <app-news-card
            [img]="data.hnUrl"
            [title]="data.title"
            [subtitle]="data.subTitle"
            [description]="data.description"
          />
          }
        </div>
      </div>
      <div class="px-4 mx-auto max-w-screen-md">
        <h2 class="mb-8 text-2xl font-bold text-gray-900 dark:text-white">
          Latest articles
        </h2>
        <div class="">
          @for (data of latestNews; track data.id) {
          <app-news-card
            [img]="data.hnUrl"
            [title]="data.title"
            [subtitle]="data.subTitle"
            [description]="data.description"
            [isAside]="true"
          />
          }
        </div>
      </div>
    </div>
  </main>

  <!-- <aside
      aria-label="Related articles"
      class="py-8 lg:py-24 bg-gray-50 dark:bg-gray-800"
    >
      <div class="px-4 mx-auto max-w-screen-2xl">
        <h2 class="mb-8 text-2xl font-bold text-gray-900 dark:text-white">
          Related articles
        </h2>
        <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4">
          <article class="max-w-xs">
            <a href="#">
              <img
                src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-1.png"
                class="mb-5 rounded-lg"
                alt="Image 1"
              />
            </a>
            <h2
              class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white"
            >
              <a href="#">Our first office</a>
            </h2>
            <p class="mb-4 text-gray-500 dark:text-gray-400">
              Over the past year, Volosoft has undergone many changes! After
              months of preparation.
            </p>
            <a
              href="#"
              class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline"
            >
              Read More
            </a>
          </article>
          <article class="max-w-xs">
            <a href="#">
              <img
                src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-2.png"
                class="mb-5 rounded-lg"
                alt="Image 2"
              />
            </a>
            <h2
              class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white"
            >
              <a href="#">Enterprise design tips</a>
            </h2>
            <p class="mb-4 text-gray-500 dark:text-gray-400">
              Over the past year, Volosoft has undergone many changes! After
              months of preparation.
            </p>
            <a
              href="#"
              class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline"
            >
              Read More
            </a>
          </article>
          <article class="max-w-xs">
            <a href="#">
              <img
                src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-3.png"
                class="mb-5 rounded-lg"
                alt="Image 3"
              />
            </a>
            <h2
              class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white"
            >
              <a href="#">We partnered with Google</a>
            </h2>
            <p class="mb-4 text-gray-500 dark:text-gray-400">
              Over the past year, Volosoft has undergone many changes! After
              months of preparation.
            </p>
            <a
              href="#"
              class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline"
            >
              Read More
            </a>
          </article>
          <article class="max-w-xs">
            <a href="#">
              <img
                src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-4.png"
                class="mb-5 rounded-lg"
                alt="Image 4"
              />
            </a>
            <h2
              class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white"
            >
              <a href="#">Our first project with React</a>
            </h2>
            <p class="mb-4 text-gray-500 dark:text-gray-400">
              Over the past year, Volosoft has undergone many changes! After
              months of preparation.
            </p>
            <a
              href="#"
              class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline"
            >
              Read More
            </a>
          </article>
        </div>
      </div>
    </aside> -->
</section>
