<div class="card group bg-base-100 shadow-xl w-full h-96 image-full-custom cursor-pointer">
    <div class="hero-overlay bg-opacity-60 group-hover:z-20 rounded-2xl"></div>
    <figure class="h-full w-full object-cover"><img class="h-full w-full object-cover" [src]="img" [alt]="title" /></figure>
    <div class="text-white z-30 p-2 flex flex-col justify-center items-center opacity-0 group-hover:opacity-100">
      <h2 class="card-title">{{title}}</h2>
      <p class="text-justify">{{description}}</p>
    </div>
  </div>
