<div
  class="fixed top-0 left-0 w-screen h-screen z-50 bg-black/60 backdrop-blur-sm flex justify-center items-center"
>

<div class="overflow-hidden bg-white rounded shadow-md text-slate-500 shadow-slate-200 max-w-xl">
    @if (img) {
      <figure>
        <img [src]="img" [alt]="title" class="aspect-video w-full" />
      </figure>
    }
    <div class="p-6">
      <header class="mb-4">
        <h3 class="text-xl font-medium text-slate-700">{{title}}</h3>
        <p class="text-sm text-slate-400 italic">{{subtitle}}</p>
      </header>
      <p>
        {{description}}
      </p>
    </div>
  <div class="flex justify-end gap-2 p-2 pt-0">
    <button class="inline-flex items-center justify-center h-10 gap-2 px-5 text-sm font-medium tracking-wide transition duration-300 rounded justify-self-center whitespace-nowrap text-emerald-500 hover:bg-emerald-100 hover:text-emerald-600 focus:bg-emerald-200 focus:text-emerald-700 focus-visible:outline-none disabled:cursor-not-allowed disabled:text-emerald-300 disabled:shadow-none disabled:hover:bg-transparent" (click)="closeNewsModal()">
      <span>close</span>
    </button>
  </div>
  </div>
</div>
