<app-cover title="All User List" sub1="Dashboard" sub2="Users"></app-cover>

<div class="container mx-auto flex justify-end">
  @if (checkRoles("ca28769c-f16d-4a8a-86ba-2bf15552403e")) {
  <button
    (click)="openAddUserModal()"
    class="btn bg-blue-600 hover:bg-blue-500 px-3 rounded text-gray-50 capitalize"
  >
    Add User
  </button>
  }
</div>

<div class="mt-4 mx-4">
  <div class="w-full overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
      <table class="w-full">
        <thead>
          <tr
            class="text-xs font-semibold tracking-wide text-left text-gray-900 uppercase border-b bg-gray-50"
          >
            <th class="px-4 py-3">Username</th>
            <th class="px-4 py-3">Role</th>
            <th class="px-4 py-3">Actions</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y">
          @switch (query.status()) { @case ('pending') {
          <p class="text-center text-5xl">Loading...</p>
          } @case ('error') {
          <span>Error: {{ query.error()?.message }}</span>
          } @default { @for (user of query.data(); track user.id) {
          <tr class="bg-gray-50 hover:bg-gray-100 text-gray-900">
            <td class="px-4 py-3 text-xs">{{ user.userName }}</td>
            <td class="px-4 py-3 text-xs">
              <ul class="list-decimal">
                @for (role of user.roleIds; track role) {
                <li>{{ getRolesName(role) }}</li>
                }
              </ul>
            </td>
            <td class="px-4 py-3 text-sm">
              <button
                (click)="openEditUserModal(user)"
                class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded mr-2 inline-block my-2"
              >
                Edit
              </button>
              <!-- <button
                (click)="onDelete(user.id)"
                class="px-2 py-1 font-semibold leading-tight text-red-700 bg-green-100 rounded inline-block"
              >
                Delete
              </button> -->
            </td>
          </tr>
          } @empty {
          <li>No user found</li>
          } } }
        </tbody>
      </table>
    </div>
    <div
      class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-900 uppercase border-t bg-gray-50 sm:grid-cols-9"
    ></div>
  </div>
</div>

<!-- add modal start -->
@if(addUserModal) {
<app-add-user-modal (closeModal)="closeAddUserModal()"></app-add-user-modal>
}
<!-- add modal end -->
<!-- edit modal start -->
@if(editUserModal) {
<app-edit-user-modal
  [user]="selected"
  (closeModal)="closeEditUserModal()"
></app-edit-user-modal>
}
<!-- edit modal end -->
