<section class="cover bg-gradient-to-l from-cyan-500 to-blue-500 relative px-4 sm:px-8 lg:px-16 xl:px-40 2xl:px-64 overflow-hidden py-48 flex
      items-center max-h-96">
        <div class="h-full w-full absolute top-0 left-0 z-0">
          <img src="https://img.freepik.com/free-photo/gradient-dark-blue-futuristic-digital-background_53876-160646.jpg?t=st=1713524092~exp=1713527692~hmac=5bb425a06bba38ab6c2073c0e5a8b5e98ea2571bcabddb638fec4a93bd33e3d0&w=1380" alt="" class="w-full h-full object-cover opacity-20">
        </div>

        <div class="w-full relative z-10 h-100 lg:mt-16 text-center text-white">
          <p class="font-cinzel text-sm md:text-xl lg:text-2xl font-semibold mt-5">
            <span class="text-[#57f7e7]">Home</span> / Contact
          </p>
            <h1 class="text-white text-4xl md:text-5xl xl:text-6xl font-bold leading-tight text-center capitalize">Contact us</h1>
        </div>
      </section>


<div class="container my-24 mx-auto md:px-6">
  <section class="mb-32">
    <div
      class="block rounded-lg bg-slate-200 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
      <div class="flex flex-wrap items-center">
        <div class="block w-full shrink-0 grow-0 basis-auto lg:flex lg:w-6/12 xl:w-4/12">
          <div class="h-[500px] w-full">
            <iframe [src]="mapUrl"
              class="left-0 top-0 h-full w-full rounded-t-lg lg:rounded-tr-none lg:rounded-bl-lg" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </div>
        <div class="w-full shrink-0 grow-0 basis-auto lg:w-6/12 xl:w-8/12">
          <div class="flex flex-wrap px-3 pt-12 pb-12 md:pb-0 lg:pt-0">
            <div class="mb-12 w-full shrink-0 grow-0 basis-auto px-3 md:w-6/12 md:px-6 lg:w-full xl:w-6/12 xl:px-12">
              <div class="flex items-start">
                <div class="shrink-0">
                  <div class="inline-block rounded-md bg-white p-4 text-pink-500">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" class="h-6 w-6">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 01-2.25 2.25M16.5 7.5V18a2.25 2.25 0 002.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 002.25 2.25h13.5M6 7.5h3v3H6v-3z" />
                    </svg>
                  </div>
                </div>
                <div class="ml-6 grow">
                  <p class="mb-2 font-bold dark:text-white">
                    Our Address
                  </p>
                  @if (contact?.address1) {
                    <p style="white-space: pre-line" class="text-neutral-500 dark:text-neutral-200">
                      {{contact?.address1}}
                    </p>
                  }
                  @if (contact?.address2) {
                    <p style="white-space: pre-line" class="text-neutral-500 dark:text-neutral-200">
                      {{contact?.address2}}
                    </p>
                  }
                </div>
              </div>
            </div>
            <div class="mb-12 w-full shrink-0 grow-0 basis-auto px-3 md:w-6/12 md:px-6 lg:w-full xl:mb-0 xl:w-6/12 xl:px-12">
              <div class="align-start flex">
                <div class="shrink-0">
                  <div class="inline-block rounded-md bg-white p-3 text-pink-500">
                    <svg class="w-7 h-7 text-pink-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    </svg>
                    
                  </div>
                </div>
                <div class="ml-6 grow">
                  <p class="mb-2 font-bold dark:text-white">Customer Care Hours</p>
                  <p class="text-neutral-500 dark:text-neutral-200">
                    Every Day: 7:30 AM - 10:00 PM
                  </p>
                  <!-- <p class="mb-2 font-bold dark:text-white">Our Mission</p>
                  <p class="text-neutral-500 dark:text-neutral-200">
                    Care, Compassion, Community
                  </p> -->
                </div>
              </div>
            </div>
            <div class="mb-12 w-full shrink-0 grow-0 basis-auto px-3 md:w-6/12 md:px-6 lg:w-full xl:w-6/12 xl:px-12">
              <div class="flex items-start">
                <div class="shrink-0">
                  <div class="inline-block rounded-md bg-white p-4 text-pink-500">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" class="h-6 w-6">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M14.25 9.75v-4.5m0 4.5h4.5m-4.5 0l6-6m-3 18c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 014.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 00-.38 1.21 12.035 12.035 0 007.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 011.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 01-2.25 2.25h-2.25z" />
                    </svg>
                  </div>
                </div>
                <div class="ml-6 grow overflow-hidden">
                  <p class="mb-2 font-bold dark:text-white">
                    Support
                  </p>
                  @if (contact?.phoneNumber1) {
                    <p class="text-neutral-500 dark:text-neutral-200">
                      Mobile: {{contact?.phoneNumber1}}
                    </p>
                  }
                  @if (contact?.phoneNumber2) {
                    <p class="text-neutral-500 dark:text-neutral-200">
                      Mobile: {{contact?.phoneNumber2}}
                    </p>
                  }
                  @if (contact?.phoneNumber3) {
                    <p class="text-neutral-500 dark:text-neutral-200">
                      Mobile: {{contact?.phoneNumber3}}
                    </p>
                  }
                  @if (contact?.email) {
                    <p class="text-neutral-500 dark:text-neutral-200">
                      Email: {{contact?.email}}
                    </p>
                  }
                  @if (contact?.facebookLink) {
                    <p class="text-neutral-500 dark:text-neutral-200">
                      Facebook: {{contact?.facebookLink}}
                    </p>
                  }
                  @if (contact?.othersLink1) {
                    <p class="text-neutral-500 dark:text-neutral-200">
                      Others Like: {{contact?.othersLink1}}
                    </p>
                  }
                  @if (contact?.othersLink2) {
                    <p class="text-neutral-500 dark:text-neutral-200">
                      {{contact?.othersLink2}}
                    </p>
                  }
                </div>
              </div>
            </div>
            <div class="w-full shrink-0 grow-0 basis-auto px-3 md:w-6/12 md:px-6 lg:w-full xl:w-6/12 xl:px-12">
              <div class="align-start flex">
                <div class="shrink-0">
                  <div class="inline-block rounded-md bg-white p-4 text-pink-500">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" class="h-6 w-6">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" />
                    </svg>
                  </div>
                </div>
                <div class="ml-6 grow">
                  <p class="mb-2 font-bold dark:text-white">Our Vision</p>
                  <p class="text-neutral-500 dark:text-neutral-200 text-justify">
                    At SD Hospital, our vision is to be a beacon of hope and healing in our community, leading the way towards a healthier future for all. We envision a world where every individual has access to high-quality healthcare services that prioritize compassion, innovation, and excellence.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


