<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Proxy HWS API" stopProcessing="true">
          <match url="^HWS(?:/(.*))?$" />
          <action type="Rewrite" url="https://digital.supersoftbd.com/HWS/{R:1}" appendQueryString="true" />
        </rule>
        <rule name="Proxy User Role API" stopProcessing="true">
          <match url="^apiA(?:/(.*))?$" />
          <action type="Rewrite" url="https://digital.supersoftbd.com/HWS/AspNetUserRoles/api/{R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <remove name="Cache-Control" />
        <remove name="Pragma" />
        <remove name="Expires" />
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="0" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
