@if (checkRoles("a0336f52-ac10-4705-8c26-633c6b64a8cd")) {
<section>
  <app-cover
  title="All Department List"
  sub1="Dashboard"
  sub2="Department"
></app-cover>

<div class="container mx-auto flex justify-end">
  <button (click)="openAddDepartmentModal()" class="btn btn-primary text-white capitalize">
    add department
  </button>
</div>

<div class="mt-4 mx-4">
  <div class="w-full overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
      <table class="w-full">
        <thead>
          <tr
            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
          >
            <th class="px-4 py-3">Image</th>
            <th class="px-4 py-3">Name</th>
            <th class="px-4 py-3">Description</th>
            <th class="px-4 py-3">Actions</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
          @switch (query.status()) { @case ('pending') {
          <p class="text-center text-5xl">Loading...</p>
          } @case ('error') {
          <span>Error: {{ query.error()?.message }}</span>
          } @default { @for (department of query.data(); track department.id) {
          <tr
            class="bg-gray-50 dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-900 text-gray-700 dark:text-gray-400"
          >
            <td class="px-4 py-3">
              <img
                [src]="department?.imgUrl !== '' ? department.imgUrl : emptyImg"
                alt="Department Image"
                class="w-8 md:w-16 rounded"
              />
            </td>
            <td class="px-4 py-3 text-xs">{{ department.departmentName }}</td>
            <td class="px-4 py-3 text-sm">
              {{ department?.description?.slice(0, 100) }}...
            </td>
            <td class="px-4 py-3 text-sm">
              <button
                (click)="openEditDepartmentModal(department.id)"
                class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded dark:bg-green-700 dark:text-green-100 mr-2 inline-block my-2"
              >
                Edit
              </button>
              <button
                (click)="onDelete(department.id)"
                class="px-2 py-1 font-semibold leading-tight text-red-700 bg-green-100 rounded dark:bg-red-700 dark:text-green-100 inline-block"
              >
                Delete
              </button>
            </td>
          </tr>
          } @empty {
          <li>No Department found</li>
          } } }
        </tbody>
      </table>
    </div>
    <div
      class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800"
    ></div>
  </div>
</div>
</section>
} @else {
  <h1 class="text-2xl text-center font-bold text-rose-500">You haven't any permission!</h1>
}

<!-- add modal start -->
@if(addDepartmentModal) {
<app-add-department-modal
  (closeModal)="closeAddDepartmentModal()"
></app-add-department-modal>
}
<!-- add modal end -->
<!-- edit modal start -->
@if(editDepartmentModal) {
  <app-edit-department-modal
    [id]="selectedId"
    (closeModal)="closeEditDepartmentModal()"
  ></app-edit-department-modal>
  }
  <!-- edit modal end -->
