<app-cover [title]="yourTitle" [sub1]="yourSub1" [sub2]="yourSub2"></app-cover>

<div class="w-full max-w-7xl mx-auto">
  @if (model) {
    <form
    #form="ngForm"
    (ngSubmit)="onFormSubmit()"
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
  >

    <div class="mb-4">
      <label
        class="block text-gray-700 text-sm font-bold mb-2"
        for="galerySerial"
      >
        Gallery Serial <span class="text-red-600">*</span>
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="galerySerial"
        name="galerySerial"
        type="number"
        placeholder="Enter Gallery Serial here"
        [(ngModel)]="model.galerySerial"
        required
      />
    </div>
    <div class="mb-4">
      <label
        class="block text-gray-700 text-sm font-bold mb-2"
        for="galeryName"
      >
        Gallery Name
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="galeryName"
        name="galeryName"
        type="text"
        placeholder="Enter Gallery Name here"
        [(ngModel)]="model.galeryName"
        required
      />
    </div>
    <div class="mb-4">
      <label for="imageFile" class="block text-gray-700 text-sm font-bold mb-2"
        >Gallery Image</label
      >
      @if(model.gPicUrl){
        <img
          [src]="model.gPicUrl"
          alt="Product Image"
          class="h-16 md:h-24 rounded"
        />
      }
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="gPicUrl"
        name="gPicUrl"
        type="text"
        placeholder="Type here"
        [(ngModel)]="model.gPicUrl"
        required
      />
    </div>

    <div class="mb-4">
      <label
        class="block text-gray-700 text-sm font-bold mb-2"
        for="description"
      >
        Description
      </label>
      <textarea
        name="description"
        id="description"
        class="shadow appearance-none border border-base-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        cols="30"
        rows="10"
        placeholder="Enter Gallery description here"
        [(ngModel)]="model.description"
      ></textarea>
    </div>
    <input
      type="submit"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      value="Update"
    />
  </form>
  }
</div>

@if(confirmModal){
  <confirm-modal title="Gallery is successfully updated!" url="admin/gallery-list" (closeModal)="closeModal()" />
}



