<section class="flex justify-center items-center h-screen bg-teal-100 login">
  @if (!loading()) {
  <div
    class="w-full max-w-sm p-4 bg-gray-50 border border-gray-200 rounded-lg shadow-sm sm:p-6 md:p-8"
  >
    <form class="space-y-6" [formGroup]="userForm" (submit)="onSubmit()">
      <div class="w-full flex flex-col justify-center items-center">
        <img src="logo.png" alt="logo" class="w-32" />
        <h2 class="font-extrabold text-green-600 uppercase">{{ name() }}</h2>
      </div>
      <!-- username -->
      <div>
        <label
          for="username"
          class="block mb-2 text-sm font-medium text-gray-950"
          >Your username</label
        >
        <input
          formControlName="username"
          [class.invalid]="
            userForm.get('username')?.invalid &&
            (userForm.get('username')?.dirty ||
              userForm.get('username')?.touched ||
              isSubmitted())
          "
          placeholder="Type here"
          class="bg-gray-50 border border-gray-300 text-gray-950 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          type="text"
          id="username"
          autocomplete="off"
          required
        />
      </div>
      <!-- password -->
      <div>
        <label
          for="password"
          class="block mb-2 text-sm font-medium text-gray-950 capitalize"
          >Your password</label
        >
        <input
          id="password"
          type="password"
          formControlName="password"
          [class.invalid]="
            userForm.get('password')?.invalid &&
            (userForm.get('password')?.dirty ||
              userForm.get('password')?.touched ||
              isSubmitted())
          "
          autocomplete="false"
          placeholder="Type here"
          class="bg-gray-50 border border-gray-300 text-gray-950 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          required
        />
      </div>
      @if (error()) {
      <div class="text-red-600 text-sm">{{ error() }}</div>
      }
      <button
        type="submit"
        class="w-full text-gray-50 btn focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
      >
        Login to your account
      </button>
    </form>
  </div>
  } @else {
  <div class="flex justify-center items-center h-full">
    <div
      class="animate-spin rounded-full h-32 w-32 border-b-2 border-gray-900"
    ></div>
  </div>
  }
</section>
