@if (!fullUrl.includes("my-appointments")) {
<div class="navbar container mx-auto bg-primary text-gray-50">
  <div class="navbar-start">
    <div class="dropdown">
      <div
        tabindex="0"
        role="button"
        class="btn btn-ghost lg:hidden"
        (click)="toggleMenu()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      @if(isMenuOpen){
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-primary rounded-box w-72"
      >
        <button
          class="text-2xl py-2 text-center font-bold"
          (click)="redirectToHome()"
        >
          {{ this.jsonData?.name }}
        </button>
        <hr class="pb-2" />
        <li>
          <app-active-link to="/serial" children="Home"></app-active-link>
        </li>
        @if (checkRoles("0f1a1539-3b29-4f5d-9cf5-7d17dc80e79e")) {
        <li>
          <app-active-link
            to="appointment-form"
            children="Appointment Form"
          ></app-active-link>
        </li>
        }

        <li>
          <app-active-link
            to="my-appointments"
            children="My Appointments"
          ></app-active-link>
        </li>
        @if (checkRoles("74b750b7-bd3a-42cb-bf11-e0e3d62056d4")) {
        <li>
          <app-active-link to="admin" children="Admin"></app-active-link>
        </li>
        }
      </ul>
      }
    </div>
    <a class="btn btn-ghost text-xl" (click)="redirectToHome()">{{
      this.jsonData?.name
    }}</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 text-lg flex">
      <li>
        <app-active-link to="/serial" children="Home"></app-active-link>
      </li>
      @if (checkRoles("0f1a1539-3b29-4f5d-9cf5-7d17dc80e79e")) {
      <li>
        <app-active-link
          to="appointment-form"
          children="Appointment Form"
        ></app-active-link>
      </li>
      }

      <li>
        <app-active-link
          to="my-appointments"
          children="My Appointments"
        ></app-active-link>
      </li>
      @if (checkRoles("74b750b7-bd3a-42cb-bf11-e0e3d62056d4")) {
      <li>
        <app-active-link to="admin" children="Admin"></app-active-link>
      </li>
      }
    </ul>
  </div>
  <div class="navbar-end">
    @if (user) {<span class="mr-2">{{ user.username }}</span
    >}
    <button
      (click)="logOut()"
      class="rounded text-sm bg-red-600 px-4 py-2 text-gray-50 transition-all hover:opacity-80"
    >
      Log Out
    </button>
  </div>
</div>
}
