<section class="hero min-h-screen bg-base-200">
  <div class="hero-content flex justify-center">
    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <form class="card-body">
        <h1 class="text-xl font-bold text-teal-600">
          Pathology Report Download
        </h1>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Invoice No.</span>
          </label>
          <input
            type="Invoice No."
            placeholder="Invoice No."
            class="input input-bordered"
            required
          />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Mobile No.</span>
          </label>
          <input
            type="text"
            placeholder="Mobile No."
            class="input input-bordered"
            required
          />
        </div>
        <div class="form-control mt-6">
          <button
            class="btn bg-blue-600 hover:bg-blue-500 px-3 rounded text-gray-50"
          >
            Get
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
