<div
  class="fixed top-0 left-0 w-screen h-screen z-50 bg-black/60 backdrop-blur-sm flex justify-center items-center"
>
  <div
    class="bg-blue-400 p-9 max-md:px-4 lg:my-20 lg:p-11 text-gray-50 rounded-xl border border-[#FEFBFB]/[36%] max-w-[740px] w-full max-h-[80vh] overflow-y-auto"
  >
    <h2 class="mb-9 text-center text-2xl font-bold lg:mb-11 lg:text-[28px]">
      Doctor Details
    </h2>

    <div class="hero">
      <div class="hero-content flex-col lg:flex-row">
        @if (doctor?.imageUrl && doctor?.imageUrl != "undefined") {
        <img
          [src]="doctor?.imageUrl"
          class="md:max-w-md w-40 rounded-lg shadow-2xl"
          [alt]="doctor?.drName"
        />
        }
        <div class="text-sm md:text-md lg:text-lg">
          <h1 class="text-xl md:text-2xl lg:text-5xl font-bold">
            {{ doctor?.drName }}
          </h1>
          @if (doctor?.degree) {
          <p style="white-space: pre-line">
            <span class="font-bold">Degree:</span> {{ doctor?.degree }}
          </p>
          } @if (doctor?.designation) {
          <p>
            <span class="font-bold">Designation:</span>
            {{ doctor?.designation }}
          </p>
          } @if (doctor?.specialty) {
          <p>
            <span class="font-bold">Specialty:</span> {{ doctor?.specialty }}
          </p>
          } @if (doctor?.phone) {
          <p><span class="font-bold">Phone:</span> {{ doctor?.phone }}</p>
          } @if (doctor?.fee) {
          <p><span class="font-bold">Fee:</span> {{ doctor?.fee }}</p>
          } @if (doctor?.room) {
          <p><span class="font-bold">Room:</span> {{ doctor?.room }}</p>
          } @if (doctor?.visitTime) {
          <p>
            <span class="font-bold">Visit Time:</span> {{ doctor?.visitTime }}
          </p>
          } @if (doctor?.departmentId) {
          <p>
            Department of
            <span class="font-bold">{{
              departmentService.getDepartmentById(doctor?.departmentId)
            }}</span>
          </p>
          }
          <div class="pt-2">
            @if (doctor?.description) {
            <p>
              <span class="font-bold">Description:</span>
              {{ doctor?.description }}
            </p>
            } @if (doctor?.additional) {
            <p>
              <span class="font-bold">Additional Information:</span>
              {{ doctor?.additional }}
            </p>
            } @if (doctor?.notice) {
            <p><span class="font-bold">Notice:</span> {{ doctor?.notice }}</p>
            }
          </div>
        </div>
      </div>
    </div>

    <div class="mt-5 flex justify-center items-center gap-2">
      <button
        type="submit"
        class="rounded bg-primary px-4 py-2 text-gray-50 transition-all hover:opacity-80"
        (click)="showAppointmentModal()"
      >
        Appointment
      </button>
      <button
        class="rounded bg-red-600 px-4 py-2 text-gray-50 transition-all hover:opacity-80"
        (click)="closeDoctorModal()"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
