<section class="max-w-4xl mx-auto mt-28">

  <div
    class="min-[576px]:shadow-[0_0.5rem_1rem_rgba(#000, 0.15)] pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600"
  >
    <div
      class="flex flex-shrink-0 items-center justify-center rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50"
    >
      <h5
        class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
        id="exampleModalLabel"
      >
        All Appointment Delete
      </h5>
    </div>
    <div class="relative flex-auto p-4" data-te-modal-body-ref>
      <div class="w-full mx-auto">
        <form #form="ngForm" (ngSubmit)="onAppointmentFormSubmit()">
          <div class="flex md:flex-row flex-col gap-2 md:gap-5 mb-2 md:mb-0">
            <!--From input-->
            <div
              class="w-full relative mb-1 md:mb-3"
              data-te-format="yyyy-mm-dd"
              data-te-datepicker-init
              data-te-input-wrapper-init
            >
              <label
                for="FromDate"
                class="absolute left-3 top-0 max-w-[90%] origin-[0_0] translate-y-[-0.7rem] scale-[0.8] text-primary bg-white px-2 z-10"
                >From Date
              </label>
              <input
                autocomplete="off"
                type="text"
                class="block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none relative"
                placeholder="From Date"
                id="FromDate"
                name="FromDate"
                [(ngModel)]="modelAppointment.FromDate"
              />
            </div>
            <!--To input-->
            <div
              class="w-full relative mb-1 md:mb-3"
              data-te-format="yyyy-mm-dd"
              data-te-datepicker-init
              data-te-input-wrapper-init
            >
              <label
                for="ToDate"
                class="absolute left-3 top-0 max-w-[90%] origin-[0_0] translate-y-[-0.7rem] scale-[0.8] text-primary bg-white px-2 z-10"
                >To Date
              </label>
              <input
                autocomplete="off"
                type="text"
                class="block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none relative"
                placeholder="To Date"
                id="ToDate"
                name="ToDate"
                [(ngModel)]="modelAppointment.ToDate"
              />
            </div>
          </div>

          <div class="flex gap-2">
            <!--Submit button-->
            <button
              class="mb-3 inline-block w-full rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_rgba(0,0,0,0.2)] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)]"
              type="submit"
              data-te-ripple-init
              data-te-ripple-color="light"
              style="
                background: linear-gradient(
                  to right,
                  #129390,
                  #36d867,
                  #05c09b,
                  #45b484
                );
              "
            >
              Delete All
            </button>
            <!--Reset button-->
            <button
              (click)="resetAppointmentForm()"
              class="mb-3 inline-block w-1/5 rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_rgba(0,0,0,0.2)] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)]"
              type="button"
              data-te-ripple-init
              data-te-ripple-color="light"
              style="
                background: linear-gradient(
                  to right,
                  #ee7724,
                  #d8363a,
                  #dd3675,
                  #b44593
                );
              "
            >
              Reset
            </button>
          </div>
        </form>

        @if (message) {
            <div class="text-center mt-5">
                <p class="text-red-600 text-xs capitalize">{{ message }}</p>
            </div>
        }
      </div>
    </div>
    <div
      class="flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md border-t-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50"
    ></div>
  </div>

</section>



@if (show) {
        <div class="fixed top-0 left-0 w-screen h-screen z-50 bg-gray-900/60 backdrop-blur-sm">
            <div class="flex min-h-screen items-center justify-center p-4">
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <button (click)="onClose()" type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                    <div class="p-4 md:p-5 text-center">
                        <svg class="mx-auto mb-4 text-red-600 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                        </svg>
                        <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to delete all appointments?</h3>

                        <input type="password"
                        id="password"
                        name="password"
                        [(ngModel)]="modelAppointment.password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mb-5" placeholder="Type Password">


                        <button (click)="onConfirm()" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                            Yes, I'm sure
                        </button>
                        <button (click)="onClose()" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">No, cancel</button>
                    </div>
                </div>
            </div>
        </div>
}
