<!-- <app-cover [title]="yourTitle" [sub1]="yourSub1" [sub2]="yourSub2"></app-cover> -->

<section class="cover bg-gradient-to-l from-cyan-500 to-blue-500 relative px-4 sm:px-8 lg:px-16 xl:px-40 2xl:px-64 overflow-hidden py-48 flex
      items-center max-h-96">
        <div class="h-full w-full absolute top-0 left-0 z-0">
          <img src="https://img.freepik.com/free-photo/gradient-dark-blue-futuristic-digital-background_53876-160646.jpg?t=st=1713524092~exp=1713527692~hmac=5bb425a06bba38ab6c2073c0e5a8b5e98ea2571bcabddb638fec4a93bd33e3d0&w=1380" alt="" class="w-full h-full object-cover opacity-20">
        </div>

        <div class="w-full relative z-10 h-100 lg:mt-16 text-center text-white">
          <p class="font-cinzel text-sm md:text-xl lg:text-2xl font-semibold mt-5">
            <span class="text-[#57f7e7]">Home</span> / Doctors
          </p>
            <h1 class="text-white text-4xl md:text-5xl xl:text-6xl font-bold leading-tight text-center capitalize">all doctors list</h1>
        </div>
      </section>

@if (hospitalDoctors$ | async) {
<div class="container mx-auto my-24">
  <div class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-10">
    @for (doctor of hospitalDoctors$ | async; track $index) {
      <app-doctor-card [doctor]="doctor"></app-doctor-card>
    }
  </div>
</div>
}
