<app-cover title="All Doctor List" sub1="Dashboard" sub2="Doctor"></app-cover>

<div class="container mx-auto flex justify-end gap-2">
  <select class="select select-bordered w-48" [(ngModel)]="selectedDepartment">
    <option value="">All Departments</option>
    @for (data of departmentWithDoctor; track $index) {
    <option [value]="data.id">{{ data?.departmentName }}</option>
    }
  </select>
  <button
    (click)="openAddDoctorModal()"
    class="bg-green-500 hover:bg-green-400 text-gray-50 font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-500 rounded uppercase"
  >
    Add Doctor
  </button>
</div>

<div class="mt-4 mx-4">
  <div class="w-full overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
      <table class="w-full">
        <thead>
          <tr
            class="text-xs font-semibold tracking-wide text-left text-gray-900 uppercase border-b bg-gray-50"
          >
            <th class="px-4 py-3">Sl</th>
            <th class="px-4 py-3">Image</th>
            <th class="px-4 py-3">Name</th>
            <th class="px-4 py-3">Degree</th>
            <th class="px-4 py-3">Designation</th>
            <th class="px-4 py-3">Specialty</th>
            <th class="px-4 py-3">Phone</th>
            <th class="px-4 py-3">Fee</th>
            <th class="px-4 py-3">Room</th>
            <th class="px-4 py-3">Description</th>
            <th class="px-4 py-3">Actions</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y">
          @for (doctor of filterDoctorsByDepartment(sortbySl(doctors)); track
          doctor?.id) {
          <tr class="bg-gray-50 hover:bg-gray-100 text-gray-900">
            <td class="px-4 py-3 text-xs">{{ doctor?.drSerial }}</td>
            <td class="px-4 py-3">
              <img
                [src]="doctor?.imageUrl ? doctor?.imageUrl : emptyImg"
                alt="Doctor Image"
                class="w-8 md:w-16 rounded"
              />
            </td>
            <td class="px-4 py-3 text-xs">{{ doctor?.drName }}</td>
            <td class="px-4 py-3 text-xs">{{ doctor?.degree }}</td>
            <td class="px-4 py-3 text-xs">{{ doctor?.designation }}</td>
            <td class="px-4 py-3 text-xs">{{ doctor?.specialty }}</td>
            <td class="px-4 py-3 text-xs">{{ doctor?.phone }}</td>
            <td class="px-4 py-3 text-xs">{{ doctor?.fee }}</td>
            <td class="px-4 py-3 text-xs">{{ doctor?.room }}</td>
            <td class="px-4 py-3 text-sm">
              {{ doctor?.description?.slice(0, 50) }}...
            </td>
            <td class="px-4 py-3 text-sm">
              <button
                (click)="openEditDoctorModal(doctor?.id)"
                class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded mr-2 inline-block my-2"
              >
                Edit
              </button>
              <button
                (click)="onDelete(doctor?.id)"
                class="px-2 py-1 font-semibold leading-tight text-red-700 bg-green-100 rounded inline-block"
              >
                Delete
              </button>
            </td>
          </tr>
          } @empty {
          <li>No Doctor found</li>
          }
        </tbody>
      </table>
    </div>
    <div
      class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-900 uppercase border-t bg-gray-50 sm:grid-cols-9"
    ></div>
  </div>
</div>
<!-- add modal start -->
@if(addDoctorModal) {
<app-add-doctor-modal
  (closeModal)="closeAddDoctorModal()"
></app-add-doctor-modal>
}
<!-- add modal end -->
<!-- edit modal start -->
@if(editDoctorModal) {
<app-edit-doctor-modal
  [id]="selectedId"
  (closeModal)="closeEditDoctorModal()"
></app-edit-doctor-modal>
}
<!-- edit modal end -->
