<div
  class="fixed top-0 left-0 w-screen h-screen z-50 bg-black/60 backdrop-blur-sm flex justify-center items-center"
>
  <div class="rounded-xl max-w-[840px] w-full max-h-[90vh] overflow-y-auto">
    <form
      [formGroup]="addDoctorForm"
      (submit)="onSubmit()"
      class="bg-[#e3c9f8] p-6 space-y-6 rounded-lg shadow-lg"
    >
      <div class="flex justify-between">
        <h2 class="text-2xl font-bold text-center w-full">Update Doctor</h2>

        <button
          class="rounded bg-red-600 p-2 w-8 h-8 text-center text-gray-50 transition-all hover:opacity-80"
          (click)="closeThisModal()"
        >
          X
        </button>
      </div>

      <div class="grid grid-cols-1 w-full gap-x-5">
        <!-- drName Input -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Doctor Name</span>
          </div>
          <input
            type="text"
            formControlName="drName"
            [class.invalid]="
              addDoctorForm.get('drName')?.invalid &&
              (addDoctorForm.get('drName')?.dirty ||
                addDoctorForm.get('drName')?.touched ||
                isSubmitted)
            "
            placeholder="Type here"
            class="input input-bordered w-full input-sm outline-none"
            required
          />
          @if(addDoctorForm.get('drName')?.hasError('required') &&
          (addDoctorForm.get('drName')?.dirty ||
          addDoctorForm.get('drName')?.touched || isSubmitted)){
          <div class="label !py-0">
            <span class="label-text-alt text-rose-600 capitalize"
              >Doctor name is required</span
            >
          </div>
          }
        </label>
        <!-- drSerial Input -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Doctor Serial</span>
          </div>
          <input
            type="text"
            formControlName="drSerial"
            [class.invalid]="
              addDoctorForm.get('drSerial')?.invalid &&
              (addDoctorForm.get('drSerial')?.dirty ||
                addDoctorForm.get('drSerial')?.touched ||
                isSubmitted)
            "
            placeholder="Type here"
            class="input input-bordered w-full input-sm outline-none"
            required
          />
        </label>
        <!-- degree Input -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Doctor Degree</span>
          </div>
          <textarea
            formControlName="degree"
            [class.invalid]="
              addDoctorForm.get('degree')?.invalid &&
              (addDoctorForm.get('degree')?.dirty ||
                addDoctorForm.get('degree')?.touched ||
                isSubmitted)
            "
            placeholder="Type here"
            class="input input-bordered w-full h-24"
            required
          ></textarea>
        </label>
        <!-- designation Input -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize"
              >Doctor Designation</span
            >
          </div>
          <input
            type="text"
            formControlName="designation"
            [class.invalid]="
              addDoctorForm.get('designation')?.invalid &&
              (addDoctorForm.get('designation')?.dirty ||
                addDoctorForm.get('designation')?.touched ||
                isSubmitted)
            "
            placeholder="Type here"
            class="input input-bordered w-full input-sm outline-none"
            required
          />
        </label>
        <!-- specialty Input -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Specialty</span>
          </div>
          <input
            type="text"
            formControlName="specialty"
            [class.invalid]="
              addDoctorForm.get('specialty')?.invalid &&
              (addDoctorForm.get('specialty')?.dirty ||
                addDoctorForm.get('specialty')?.touched ||
                isSubmitted)
            "
            placeholder="Type here"
            class="input input-bordered w-full input-sm outline-none"
            required
          />
        </label>
        <!-- departmentId Input -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Department:</span>
          </div>
          <select
            class="select select-bordered select-sm w-full"
            formControlName="departmentId"
            [class.invalid]="
              addDoctorForm.get('departmentId')?.invalid &&
              (addDoctorForm.get('departmentId')?.dirty ||
                addDoctorForm.get('departmentId')?.touched ||
                isSubmitted)
            "
            required
          >
            <option value="" disabled>Select Department</option>
            @switch (query.status()) { @case ('pending') {
            <option class="text-center text-5xl">Loading...</option>
            } @case ('error') {
            <option>Error: {{ query.error()?.message }}</option>
            } @default { @for (department of query.data(); track department.id)
            {
            <option [value]="department?.id">
              {{ department?.departmentName }}
            </option>
            } @empty {
            <li>No Department found</li>
            } } }
          </select>
          @if(addDoctorForm.get('departmentId')?.hasError('required') &&
          (addDoctorForm.get('departmentId')?.dirty ||
          addDoctorForm.get('departmentId')?.touched || isSubmitted)){
          <div class="label !py-0">
            <span class="label-text-alt text-rose-600 capitalize"
              >Department is required</span
            >
          </div>
          }
        </label>
        <!-- phone Input -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Phone</span>
          </div>
          <input
            type="text"
            formControlName="phone"
            maxlength="14"
            [class.invalid]="
              addDoctorForm.get('phone')?.invalid &&
              (addDoctorForm.get('phone')?.dirty ||
                addDoctorForm.get('phone')?.touched ||
                isSubmitted)
            "
            placeholder="Type here"
            class="input input-bordered w-full input-sm outline-none"
            required
          />
        </label>
        <!-- fee Input -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Doctor Fee</span>
          </div>
          <input
            type="number"
            formControlName="fee"
            [class.invalid]="
              addDoctorForm.get('fee')?.invalid &&
              (addDoctorForm.get('fee')?.dirty ||
                addDoctorForm.get('fee')?.touched ||
                isSubmitted)
            "
            placeholder="Type here"
            class="input input-bordered w-full input-sm outline-none"
            required
          />
        </label>
        <!-- visitTime Input -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Visit Time</span>
          </div>
          <input
            type="text"
            formControlName="visitTime"
            [class.invalid]="
              addDoctorForm.get('visitTime')?.invalid &&
              (addDoctorForm.get('visitTime')?.dirty ||
                addDoctorForm.get('visitTime')?.touched ||
                isSubmitted)
            "
            placeholder="Type here"
            class="input input-bordered w-full input-sm outline-none"
            required
          />
        </label>
        <!-- room Input -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Room No</span>
          </div>
          <input
            type="text"
            formControlName="room"
            [class.invalid]="
              addDoctorForm.get('room')?.invalid &&
              (addDoctorForm.get('room')?.dirty ||
                addDoctorForm.get('room')?.touched ||
                isSubmitted)
            "
            placeholder="Type here"
            class="input input-bordered w-full input-sm outline-none"
            required
          />
        </label>
        <!-- Image Input -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Image</span>
          </div>
          <input
            type="text"
            formControlName="imageUrl"
            [class.invalid]="
              addDoctorForm.get('imageUrl')?.invalid &&
              (addDoctorForm.get('imageUrl')?.dirty ||
                addDoctorForm.get('imageUrl')?.touched ||
                isSubmitted)
            "
            placeholder="Type here"
            class="input input-bordered w-full input-sm outline-none"
            required
          />
        </label>
        <!-- description Input -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Description</span>
          </div>
          <textarea
            formControlName="description"
            [class.invalid]="
              addDoctorForm.get('description')?.invalid &&
              (addDoctorForm.get('description')?.dirty ||
                addDoctorForm.get('description')?.touched ||
                isSubmitted)
            "
            placeholder="Type here"
            class="input input-bordered w-full"
            required
            cols="30"
            rows="10"
          ></textarea>
        </label>
        <!-- additional Input -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize"
              >Additional Info.</span
            >
          </div>
          <textarea
            formControlName="additional"
            [class.invalid]="
              addDoctorForm.get('additional')?.invalid &&
              (addDoctorForm.get('additional')?.dirty ||
                addDoctorForm.get('additional')?.touched ||
                isSubmitted)
            "
            placeholder="Type here"
            class="input input-bordered w-full"
            required
            cols="30"
            rows="10"
          ></textarea>
        </label>
        <!-- notice Input -->
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Notice</span>
          </div>
          <textarea
            formControlName="notice"
            [class.invalid]="
              addDoctorForm.get('notice')?.invalid &&
              (addDoctorForm.get('notice')?.dirty ||
                addDoctorForm.get('notice')?.touched ||
                isSubmitted)
            "
            placeholder="Type here"
            class="input input-bordered w-full"
            required
            cols="30"
            rows="10"
          ></textarea>
        </label>
        <!-- serialBlock Input -->
        @if (checkRoles("c90aed50-ad56-431b-afa4-c36e8cac039a")) {
        <label class="form-control w-full !mt-0">
          <div class="label !py-0">
            <span class="label-text font-bold capitalize">Serial Block</span>
          </div>
          <input
            type="text"
            formControlName="serialBlock"
            [class.invalid]="
              addDoctorForm.get('serialBlock')?.invalid &&
              (addDoctorForm.get('serialBlock')?.dirty ||
                addDoctorForm.get('serialBlock')?.touched ||
                isSubmitted)
            "
            placeholder="Type here"
            class="input input-bordered w-full input-sm outline-none"
            required
          />
        </label>
        }

        <div class="flex gap-2">
          <!-- satNewPatientLimit Input -->
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize"
                >Saturday New Patient Limit</span
              >
            </div>
            <input
              type="text"
              formControlName="satNewPatientLimit"
              [class.invalid]="
                addDoctorForm.get('satNewPatientLimit')?.invalid &&
                (addDoctorForm.get('satNewPatientLimit')?.dirty ||
                  addDoctorForm.get('satNewPatientLimit')?.touched ||
                  isSubmitted)
              "
              placeholder="Type here"
              class="input input-bordered w-full input-sm outline-none"
              required
            />
          </label>
          <!-- satOldPatientLimit Input -->
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize"
                >Saturday Old Patient Limit</span
              >
            </div>
            <input
              type="text"
              formControlName="satOldPatientLimit"
              [class.invalid]="
                addDoctorForm.get('satOldPatientLimit')?.invalid &&
                (addDoctorForm.get('satOldPatientLimit')?.dirty ||
                  addDoctorForm.get('satOldPatientLimit')?.touched ||
                  isSubmitted)
              "
              placeholder="Type here"
              class="input input-bordered w-full input-sm outline-none"
              required
            />
          </label>
        </div>

        <div class="flex gap-2">
          <!-- sunNewPatientLimit Input -->
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize"
                >Sunday New Patient Limit</span
              >
            </div>
            <input
              type="text"
              formControlName="sunNewPatientLimit"
              [class.invalid]="
                addDoctorForm.get('sunNewPatientLimit')?.invalid &&
                (addDoctorForm.get('sunNewPatientLimit')?.dirty ||
                  addDoctorForm.get('sunNewPatientLimit')?.touched ||
                  isSubmitted)
              "
              placeholder="Type here"
              class="input input-bordered w-full input-sm outline-none"
              required
            />
          </label>
          <!-- sunOldPatientLimit Input -->
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize"
                >Sunday Old Patient Limit</span
              >
            </div>
            <input
              type="text"
              formControlName="sunOldPatientLimit"
              [class.invalid]="
                addDoctorForm.get('sunOldPatientLimit')?.invalid &&
                (addDoctorForm.get('sunOldPatientLimit')?.dirty ||
                  addDoctorForm.get('sunOldPatientLimit')?.touched ||
                  isSubmitted)
              "
              placeholder="Type here"
              class="input input-bordered w-full input-sm outline-none"
              required
            />
          </label>
        </div>

        <div class="flex gap-2">
          <!-- monNewPatientLimit Input -->
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize"
                >Monday New Patient Limit</span
              >
            </div>
            <input
              type="text"
              formControlName="monNewPatientLimit"
              [class.invalid]="
                addDoctorForm.get('monNewPatientLimit')?.invalid &&
                (addDoctorForm.get('monNewPatientLimit')?.dirty ||
                  addDoctorForm.get('monNewPatientLimit')?.touched ||
                  isSubmitted)
              "
              placeholder="Type here"
              class="input input-bordered w-full input-sm outline-none"
              required
            />
          </label>
          <!-- monOldPatientLimit Input -->
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize"
                >Monday Old Patient Limit</span
              >
            </div>
            <input
              type="text"
              formControlName="monOldPatientLimit"
              [class.invalid]="
                addDoctorForm.get('monOldPatientLimit')?.invalid &&
                (addDoctorForm.get('monOldPatientLimit')?.dirty ||
                  addDoctorForm.get('monOldPatientLimit')?.touched ||
                  isSubmitted)
              "
              placeholder="Type here"
              class="input input-bordered w-full input-sm outline-none"
              required
            />
          </label>
        </div>

        <div class="flex gap-2">
          <!-- tueNewPatientLimit Input -->
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize"
                >Tuesday New Patient Limit</span
              >
            </div>
            <input
              type="text"
              formControlName="tueNewPatientLimit"
              [class.invalid]="
                addDoctorForm.get('tueNewPatientLimit')?.invalid &&
                (addDoctorForm.get('tueNewPatientLimit')?.dirty ||
                  addDoctorForm.get('tueNewPatientLimit')?.touched ||
                  isSubmitted)
              "
              placeholder="Type here"
              class="input input-bordered w-full input-sm outline-none"
              required
            />
          </label>
          <!-- tueOldPatientLimit Input -->
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize"
                >Tuesday Old Patient Limit</span
              >
            </div>
            <input
              type="text"
              formControlName="tueOldPatientLimit"
              [class.invalid]="
                addDoctorForm.get('tueOldPatientLimit')?.invalid &&
                (addDoctorForm.get('tueOldPatientLimit')?.dirty ||
                  addDoctorForm.get('tueOldPatientLimit')?.touched ||
                  isSubmitted)
              "
              placeholder="Type here"
              class="input input-bordered w-full input-sm outline-none"
              required
            />
          </label>
        </div>

        <div class="flex gap-2">
          <!-- wedNewPatientLimit Input -->
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize"
                >Wednesday New Patient Limit</span
              >
            </div>
            <input
              type="text"
              formControlName="wedNewPatientLimit"
              [class.invalid]="
                addDoctorForm.get('wedNewPatientLimit')?.invalid &&
                (addDoctorForm.get('wedNewPatientLimit')?.dirty ||
                  addDoctorForm.get('wedNewPatientLimit')?.touched ||
                  isSubmitted)
              "
              placeholder="Type here"
              class="input input-bordered w-full input-sm outline-none"
              required
            />
          </label>
          <!-- wedOldPatientLimit Input -->
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize"
                >Wednesday Old Patient Limit</span
              >
            </div>
            <input
              type="text"
              formControlName="wedOldPatientLimit"
              [class.invalid]="
                addDoctorForm.get('wedOldPatientLimit')?.invalid &&
                (addDoctorForm.get('wedOldPatientLimit')?.dirty ||
                  addDoctorForm.get('wedOldPatientLimit')?.touched ||
                  isSubmitted)
              "
              placeholder="Type here"
              class="input input-bordered w-full input-sm outline-none"
              required
            />
          </label>
        </div>

        <div class="flex gap-2">
          <!-- thuNewPatientLimit Input -->
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize"
                >Thursday New Patient Limit</span
              >
            </div>
            <input
              type="text"
              formControlName="thuNewPatientLimit"
              [class.invalid]="
                addDoctorForm.get('thuNewPatientLimit')?.invalid &&
                (addDoctorForm.get('thuNewPatientLimit')?.dirty ||
                  addDoctorForm.get('thuNewPatientLimit')?.touched ||
                  isSubmitted)
              "
              placeholder="Type here"
              class="input input-bordered w-full input-sm outline-none"
              required
            />
          </label>
          <!-- thuOldPatientLimit Input -->
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize"
                >Thursday Old Patient Limit</span
              >
            </div>
            <input
              type="text"
              formControlName="thuOldPatientLimit"
              [class.invalid]="
                addDoctorForm.get('thuOldPatientLimit')?.invalid &&
                (addDoctorForm.get('thuOldPatientLimit')?.dirty ||
                  addDoctorForm.get('thuOldPatientLimit')?.touched ||
                  isSubmitted)
              "
              placeholder="Type here"
              class="input input-bordered w-full input-sm outline-none"
              required
            />
          </label>
        </div>

        <div class="flex gap-2">
          <!-- friNewPatientLimit Input -->
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize"
                >Friday New Patient Limit</span
              >
            </div>
            <input
              type="text"
              formControlName="friNewPatientLimit"
              [class.invalid]="
                addDoctorForm.get('friNewPatientLimit')?.invalid &&
                (addDoctorForm.get('friNewPatientLimit')?.dirty ||
                  addDoctorForm.get('friNewPatientLimit')?.touched ||
                  isSubmitted)
              "
              placeholder="Type here"
              class="input input-bordered w-full input-sm outline-none"
              required
            />
          </label>
          <!-- friOldPatientLimit Input -->
          <label class="form-control w-full !mt-0">
            <div class="label !py-0">
              <span class="label-text font-bold capitalize"
                >Friday Old Patient Limit</span
              >
            </div>
            <input
              type="text"
              formControlName="friOldPatientLimit"
              [class.invalid]="
                addDoctorForm.get('friOldPatientLimit')?.invalid &&
                (addDoctorForm.get('friOldPatientLimit')?.dirty ||
                  addDoctorForm.get('friOldPatientLimit')?.touched ||
                  isSubmitted)
              "
              placeholder="Type here"
              class="input input-bordered w-full input-sm outline-none"
              required
            />
          </label>
        </div>
      </div>

      <div class="!mt-2">
        <button
          type="submit"
          class="rounded bg-primary py-1 text-gray-50 transition-all hover:opacity-80 w-full"
        >
          Submit Here
        </button>
      </div>
    </form>
  </div>
</div>
